  <h3 class="nav nav-tabs md-tabs duraamen-homepage-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-featured" role="tab"
      aria-controls="nav-home" aria-selected="true"><span>Featured</span></a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-popular" role="tab"
      aria-controls="nav-profile" aria-selected="false"><span>Popular</span></a>
    <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" href="#nav-new" role="tab"
      aria-controls="nav-contact" aria-selected="false"><span>New</span></a>
  </h3>
  <div class="tab-content">
    <div class="tab-pane fade" id="nav-featured" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="row featured-product--row">
      {% select_pages "category" "featured" order_by="?" %}
      {% for item in pages|slice:"4" %}
      {% include "includes/snippets/product-item.html" %}
      {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="nav-popular" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="row featured-product--row">
      {% select_pages "category" "popular" order_by="?" %}
      {% for item in pages|slice:"4" %}
      {% include "includes/snippets/product-item.html" %}
      {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade show active " id="nav-new" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="row featured-product--row">
      {% select_pages "category" "new" order_by="?" %}
      {% for item in pages|slice:"4" %}
      {% include "includes/snippets/product-item.html" %}
      {% endfor %}
      </div>
    </div>
  </div>
