<div class="cards section section-grey">
<div class="row">
    <div class="col-md-12">
      <h2 class="text-center title">Featured Products</h2>
    </div>
    <div class="col-md-3">
      <div class="card card-profile">
				<div class="card-image">
					<a href="#pablo">
						<img class="img" src="assets/img/examples/card-profile1.jpg">
					</a>
				</div>
				<div class="content">
					<h4 class="card-title">Endüra</h4>
					<h6 class="category text-gray">high performance grade III resin ship system<br><br></h6>
          <a href="#" class="btn btn-primary btn-raised btn-sm">Order Now</a>
				</div>
			</div>
    </div>
    <div class="col-md-3">
      <div class="card card-profile">
				<div class="card-image">
					<a href="#pablo">
						<img class="img" src="assets/img/examples/card-profile1.jpg">
					</a>
				</div>
				<div class="content">
					<h4 class="card-title">Kwortz Flooring</h4>
					<h6 class="category text-gray">seamless decorative quartz flooring<br><br></h6>
          <a href="#" class="btn btn-primary btn-raised btn-sm">Order Now</a>
				</div>
			</div>
    </div>
    <div class="col-md-3">
      <div class="card card-profile">
				<div class="card-image">
					<a href="#pablo">
						<img class="img" src="assets/img/examples/card-profile1.jpg">
					</a>
				</div>
				<div class="content">
					<h4 class="card-title">Perdüre A01</h4>
					<h6 class="category text-gray">clear acrylic sealer<br><br><br></h6>
          <a href="#" class="btn btn-primary btn-raised btn-sm">Order Now</a>
				</div>
			</div>
    </div>
    <div class="col-md-3">
      <div class="card card-profile">
				<div class="card-image">
					<a href="#pablo">
						<img class="img" src="assets/img/examples/card-profile1.jpg">
					</a>
				</div>
				<div class="content">
					<h4 class="card-title">Aquacolor</h4>
					<h6 class="category text-gray">water based stain for concrete surfaces (integral & topical)</h6>
          <a href="#" class="btn btn-primary btn-raised btn-sm">Order Now</a>
				</div>
			</div>
    </div>

</div>
</div>
