{% if page.content.related %}
<h3 class="text-center">You may also be interested in:</h3>
{% endif %}

<div class="row"><!-- nested {{ t.record }} list -->
{% for related_item in page.content.related  %}
  {# {{ related_item }} #}

  {% select_pages "related" related_item %}
    {% for selected_page in pages %}
    {% if page.path != selected_page.path %}
    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card">
        <a class="blog-preview-img hm-zoom waves-light" href="{{ selected_page.get_absolute_url }}{% if editing %}/admin{% endif %}">
        <img class="img-fluid" src="
        {% if selected_page.masthead_img %}{% imgix_url selected_page.masthead_img %}{% else %}{% imgix_url "/dist/img/iStock-92277191.jpg" %}{% endif %}?w=400&h=300&fit=crop"
        alt="{{ selected_page.content.title }}">
        </a>
        <div class="card-body">
            <h5 class="card-title"><a href="{{ selected_page.get_absolute_url }}{% if editing %}/admin{% endif %}">{{ selected_page.content.title|safe }}</h5>
            <p class="card-text">{{ selected_page.content.content|striptags|truncatewords:20 }}</p>
            <a href="{{ selected_page.get_absolute_url }}{% if editing %}/admin{% endif %}" class="black-text d-flex flex-row-reverse">
              <p class="waves-effect p-2">Read more <i class="fa fa-chevron-right"></i></p>
            </a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
{% endfor %}
</div>


{% comment %}


{# {% select_pages "sections" path_split.2 varname="posts" order_by="-published" %} #}

    {% select_pages "tags" "concrete dye" varname="posts" order_by="-published" %}
    {% for post in posts|slice:"5" %}
                          {% if post.content.image %}
                                <img class="float-right" src="{% imgix_url post.content.image %}?w=300&h=200" />
                          {% endif %}
                          <h3><a href="{{ post.get_absolute_url }}{% if editing %}/admin{% endif %}">{{ post.content.title }}</a></h3>
                          {{ post.content.content|striptags|truncatewords:20 }}
                    {% endfor %}
{% endcomment %}
