<div class="section text-center">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="title">Industrial Coatings and Polished Concrete Flooring Systems that exceed the expectations of property managers, contractors and architects worldwide</h2>
                <!--<h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>-->
            </div>
        </div>

  <div class="features">
    <div class="row">
      <div class="col-md-4">
        <div class="info">

          <!--<div class="icon icon-info">
            <i class="material-icons">chat</i>
          </div>-->
          <h4 class="info-title">Property Managers / Owners</h4>
          <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <h4 class="info-title">Architects & Designers</h4>
          <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">

          <h4 class="info-title">Contractors</h4>
          <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
        </div>
      </div>
    </div>
  </div>
</div>
