<form id="contact-form" data-glass-form-api action="/404/" method="POST">
  {% csrf_token %}
  <input name="to" type="hidden" value="bbbf6b9f-1dc5-4a06-862c-c4d7135b78f2,cca47383-89e1-4e69-89e1-205ff5301c12">
  <input name="success_message" type="hidden" value="Thank you for your interest in Duraamen.com. We're received your message and we'll get back to you as soon as possible." />
  <input type="hidden" name="redirect" value="/thank-you?fromurl={{ page.path }}" />
  <input type="hidden" name="mc_id" value="bdd0a42dd0">
  <input id="id_from_duraamen_url" name="from_duraamen_url" type="hidden">


  <div class="row">
    <div class="col-md-12">
      <p><b>Please Contact us about any of the following *</b></p>
    </div>
    <div class="col-md-6">
      <div class="md-form">
        <div class="clearfix">
          <input type="checkbox"  name="Please contact us about any of the following" id="id_please_contact_us_about_any_of_the_following_1" value="CES Seminars">
          <label class="checkbox" for="id_please_contact_us_about_any_of_the_following_1">CES Seminars</label>
        </div>
        <div class="clearfix">
          <input type="checkbox"  name="Please contact us about any of the following" id="id_please_contact_us_about_any_of_the_following_2" value="Product Binder">
          <label class="checkbox" for="id_please_contact_us_about_any_of_the_following_2">Product Binder</label>
      </div>
      </div>
    </div>
    <div class="col-md-6">
     <div class="md-form">
        <div class="clearfix">
          <input type="checkbox"  name="Please contact us about any of the following" id="id_please_contact_us_about_any_of_the_following_3" value="Product Samples">
          <label class="checkbox" for="id_please_contact_us_about_any_of_the_following_3">Product Samples</label>
        </div>
        <div class="clearfix">
          <input type="checkbox"  name="Please contact us about any of the following" id="id_please_contact_us_about_any_of_the_following_4" value="Develop Specifications">
          <label class="checkbox" for="id_please_contact_us_about_any_of_the_following_4">Develop Specifications</label>
        </div>
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="md-form">
          <label for="id_name" class="control-label required-field">Name</label>
          <input name="name" maxlength="2000" required="" type="text" class="charfield required" id="id_name" />
        </div>
        <div class="md-form">
          <label for="id_company" class="control-label required-field">Company</label>
          <input name="Company" maxlength="2000" required="" type="text" class="charfield required" id="id_company" />
        </div>
        <div class="md-form">
          <label for="id_e_mail" class="control-label required-field">E-mail</label>
          <input name="e_mail" maxlength="2000" required="" type="email" class="emailfield required" id="id_e_mail" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <label for="id_street_address_suite" class="control-label required-field">Street Address, Suite</label>
          <input name="street_address_suite" maxlength="2000" required="" type="text" class="charfield required" id="id_street_address_suite" />
        </div>
        <div class="md-form">
          <label for="id_city_state_zip_code" class="control-label required-field">City / State / Zip Code</label>
          <input name="City/State/Zip" maxlength="2000" required="" type="text" class="charfield required" id="id_city_state_zip_code" />
        </div>
        <div class="md-form">
          <label for="id_phone" class="control-label required-field">Phone</label>
          <input name="phone" maxlength="2000" required="" type="text" class="charfield required" id="id_phone" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="md-form">
          <input checked id="id_opt_in" name="mailchimp-opt-in" type="checkbox" value="YES"/>
          <label class="checkbox" for="id_opt_in">Receive product information and special offers via e-mail?</label>

      </div>

        <div class="md-form">
          <label for="id_comments" class="control-label required-field">Comments</label>
          <textarea rows="10" name="comments" id="id_comments" class="md-textarea" cols="40"></textarea>
        </div>
      </div>
  </div><!--/.row-->

  <div class="center-on-small-only">
  <button type="submit" class="btn btn-primary"><span class="fa fa-paper-plane fa-2x"></span> Send</button>
  </div>
</form>
