<section class="subscribe-form gold-bg home-section">
  <div class="container">
    <h2 class="text-center mb-5 mt-4">Receive Specials Offers & News from Duraamen.</h2>
    <div class="row justify-content-md-center">
      <div class="col-lg-4">
        <form data-glass-form-api  action="/404/">
          <input name="to" type="hidden" value="bbbf6b9f-1dc5-4a06-862c-c4d7135b78f2,cca47383-89e1-4e69-89e1-205ff5301c12">
          <input type="hidden" name="redirect" value="/thank-you?fromurl={{ page.path }}" />
          <input type="hidden" name="mc_id" value="bdd0a42dd0">
          <input type="hidden" name="mailchimp-opt-in" value="YES"/>
          <input name="success_message" type="hidden" value="Thank you for your interest in Duraamen.com. You've been subscribed to our mailing list." />
          {% csrf_token %}
          <div class="md-form">
            <input type="email" id="defaultForm-email" name="email" class="form-control validate" required>
            <label for="defaultForm-email">Your email</label>
          </div>
          <div class="text-center">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</section>
