{% extends "base.html" %}

{% block bodyclass %}video-pages {% endblock %}

{% block hero %}
<!-- Intro Section -->
<div
  class="hero
    view
    hm-black-strong-1
    jarallax
    {% block heroclass %}smaller-hero text-center{% endblock %}
    "

  data-srv-name="masthead_img"
  style="background-color: #f5f5f5">
    <div class="full-bg-img d-flex justify-content-start align-items-end">
      {% page "masthead_img" type="img" %}
        <div class="container flex-container">
            <div class="row smooth-scroll justify-content-center">
                <div class="col-md-12">
                    <div class="video-head wow fadeInDown" data-wow-delay="0.2s">
                        <h1>{% page "title" type="text" %}</h1>
                        <h4>{% page "subtitle" type="text" %}</h4>
                    </div>
                    {% block undertitle %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




{% block main %}
<section class="home-section">
  <div class="container" id="{{ page.content.slug }}" itemscope itemtype="http://schema.org/Product">
    <div class="row justify-content-center">
      <div class="col-md-8">
        {% comment %}
        <ul class="breadcrumb" itemprop="breadcrumb">
            <li><a href="/video-gallery/">Video Gallery</a> <span class="divider">/</span></li>
            <li><a href="#">{{ page.content.name }}</a> <span class="divider">/</span></li>
        </ul>
        {% endcomment %}

        {% for firstvid in page.content.videos %}
        <div class="video-gallery {% if forloop.counter != 1 %}d-md-none{% endif %}" itemprop="video" class="video-thumb">
          <a data-fancybox="videos" class="thumbnail" rel="video" href="https://www.youtube-nocookie.com/embed/{{ firstvid.youtube_id }}?rel=0" title="{{ firstvid.title }}">
            <i class="play-icon fa fa-play-circle fa-5" aria-hidden="true"></i>
            <img itemprop="thumbnail" src="{% imgix_url firstvid.image %}?w=730" alt="{{ firstvid.title }}">
            <h3 class="mt-2 mb-3 text-center" itemprop="name">{{ firstvid.title }}</h3>
          </a>
        </div>
        {% endfor %}
        <!-- AddThis Button BEGIN -->
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_sharing_toolbox mb-4" style="margin: 0 auto; text-align:center;"></div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520d221765704fe3" async="async"></script>
        <!-- AddThis Button END -->

        <div class="text-center">
          <p><a href="/video-gallery" class="btn btn-secondary"><i class="play-icon fa fa-chevron-left" aria-hidden="true"></i> Back to Video Gallery</a></p>
        </div>


        {% page "content" type="wysiwyg" %}

        {% if editing %}
            <div style="max-width:342px">
                {% page "image" type="img" %}
                <img src="{% if page.content.image %}{% imgix_url page.content.image %}{% else %}https://placem.at/places{% endif %}?w=400&txt=Category+Image" data-srv-name="image" />
            </div>
        {% endif %}

      </div>
      <div class="col-md-4">
        <ul class="thumbnails video-gallery d-none d-md-block" itemscope itemtype="http://schema.org/VideoObject">
          {% page_list "videos" %}
              {% list_item "youtube_id" type="text" noprint="true" %}
              {% list_item "image" type="img" noprint="true" %}
              {% list_item "title" type="text" noprint="true" %}
              {% list_item "length" type="text" noprint="true" %}

              {% if forloop.counter != 1 %}
              <li itemprop="video" class="video-thumb">
                <a data-fancybox="videos" class="thumbnail" rel="video" href="https://www.youtube-nocookie.com/embed/{{ list_item.youtube_id }}?rel=0" title="{{ list_item.title|default:"" }}">
                  <i class="play-icon fa fa-play-circle fa-3" aria-hidden="true"></i>
                  <img itemprop="thumbnail" class="bordered" src="{% imgix_url list_item.image %}?w=370&amp;h=205&amp;crop=fit" alt="{{ list_item.title|default:"" }}">
                  <h5 class="text-center mt-2 mb-4" itemprop="name">{{ list_item.title }}</h5>
                </a>
              </li>
              {% endif %}
          {% end_list %}
          </ul>

      </div>
{% endblock main %}
