{% extends "base.html" %}

{% block bodyclass %}video-pages {% endblock %}

{% block hero %}
<!-- Intro Section -->
<div
  class="hero
    view
    hm-black-strong-1
    jarallax
    {% block heroclass %}x-small-hero{% endblock %}
    "

  data-srv-name="masthead_img"
  style="background-color: #f5f5f5">
  {% page "masthead_img" type="img" %}
    <div class="container">
      <div class="video-head">
          <h1>{% page "title" type="text" %}</h1>
          <h4>{% page "subtitle" type="text" %}</h4>
      </div>
      {% block undertitle %}{% endblock %}
    </div>
</div>
{% endblock %}


{% block main %}
<section class="home-section">
  <div class="container" id="{{ page.content.slug }}" itemscope itemtype="http://schema.org/Product">
    <div class="row justify-content-center">
      <div class="col-md-12">
        {% chunk "video-gallery-summary" %}

        <div class="row video-gallery" itemscope itemtype="http://schema.org/VideoObject">
        {% children as "categories" %}
        {% for category in categories %}
            <div class="col-md-4 text-center">
                  <a class="thumbnail" href="{{ category.get_absolute_url }}" title="{{ category.content.name|default:"" }}"><img itemprop="image" class="bordered" alt="{{ category.content.name|striptags }}" src="{% imgix_url category.content.image %}?w=370&amp;h=205&amp;crop=entropy&amp;fit=crop" alt="{{ category.content.name|default:"" }} (thumbnail)"></a>
                  <h5 class="text-center mt-2 mb-4" itemprop="name"><a href="{{ category.get_absolute_url }}">{{ category.content.name }} | {{ category.content.videos|length }} videos</a></h5>
          </div>
        {% endfor %}
      </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
