{% extends "products/category_list.html" %}


{% block page-title %}Products filtered by {% if request.GET.industry %}{{ request.GET.industry }}{% endif %}{% if request.GET.industry and request.GET.application %},{% endif %} {% if request.GET.application %}{{ application }}{% endif %}{% endblock %}


{% block product-content %}
    {% select_pages "industries" request.GET.industry "products" "select" applications=request.GET.application %}
        {% for product in products %}
        <h1 class="no-border" style="margin-top:36px;"><a href="/p/{{product.category.0}}">{{ product.content.category.0 }}</a></h1>
        <div class="product-tease clearfix" style="margin-top:9px;">
            <img class="bordered float-left" src="{% imgix_url product.content.image %}?w=160&amp;h=160&amp;crop=entropy&amp;fit=crop">

            <h2 style="margin:0"><a href="/p/{{product.category.0}}#{{ product.content.slug }}">{{ product.content.title }}</a> | <small>{{ product.content.subtitle }}</small></h2>
            <p>{{ product.content.content|safe|striptags|truncatewords:65 }}</p>

            <p><a href="/p/{{product.category.0}}#{{ product.content.slug }}" class="to-top">View details</a></p>
        </div>
        {% endfor %}
{% endblock product-content %}
