
{% extends "base.html" %}

{% block head_title %}{{ page.content.title|default:"Products" }}{% endblock %}

{% block hero %}
{% endblock %}

{% block body %}
<div class="subpage-body">
    <div class="big-pad">
        <h1>The right floor for you</h1>
    </div>
    <div class="products">
        <div class="row">
            <div class="span8">
                <div class="big-pad-left">

                    {% chunk "product_list" %}

                    <form action="/products/browse/" class="form-inline forced">
                      <h3>Filter by:</h3>
                      <div class="control-group" id="div_id_industry">
                        <label class="control-label" for="id_industry">Industry</label>
                        <div class="controls">
                          <select id="id_industry" name="industry">
                            <option selected="selected" value="">
                              Industry
                            </option>
                            <option>
                              Aerospace
                            </option>
                            <option>
                              Amusement Parks
                            </option>
                            <option>
                              Animal Care
                            </option>
                            <option>
                              Automotive
                            </option>
                            <option>
                              Chemical Processing
                            </option>
                            <option>
                              Cold Storage
                            </option>
                            <option>
                              Commercial &amp; Industrial
                            </option>
                            <option>
                              Correctional Facilities
                            </option>
                            <option>
                              Education
                            </option>
                            <option>
                              Electronics
                            </option>
                            <option>
                              Recue &amp; Fire Departments
                            </option>
                            <option>
                              Food &amp; Beverage Manufacturing
                            </option>
                            <option>
                              Government &amp; Municipalities
                            </option>
                            <option>
                              Grocery
                            </option>
                            <option>
                              Healthcare
                            </option>
                            <option>
                              Hospitality
                            </option>
                            <option>
                              Manufacturing
                            </option>
                            <option>
                              Parks &amp; Recreation
                            </option>
                            <option>
                              Pharmaceutical
                            </option>
                            <option>
                              Restaurants
                            </option>
                            <option>
                              Retail
                            </option>
                            <option>
                              Stadiums/Arenas
                            </option>
                            <option>
                              Transportation
                            </option>
                            <option>
                              Residential / Home
                            </option>
                            <option>
                              Petrochemical
                            </option>
                            <option>
                              Plastics
                            </option>
                            <option>
                              Water Treatment Facility
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="control-group" id="div_id_application">
                        <label class="control-label" for="id_application">Application</label>
                        <div class="controls">
                          <select id="id_application" name="application">
                            <option selected="selected" value="">
                              Application
                            </option>
                            <option>
                              Gymnasium
                            </option>
                            <option>
                              Machine Shop
                            </option>
                            <option>
                              Armory
                            </option>
                            <option>
                              Bakery
                            </option>
                            <option>
                              Animal research
                            </option>
                            <option>
                              Bottling area
                            </option>
                            <option>
                              Chemical storage
                            </option>
                            <option>
                              Clean room
                            </option>
                            <option>
                              Concession area
                            </option>
                            <option>
                              Containment area
                            </option>
                            <option>
                              Decontamination area
                            </option>
                            <option>
                              Deli
                            </option>
                            <option>
                              Food preparation
                            </option>
                            <option>
                              Refrigeration/Freezer
                            </option>
                            <option>
                              Hallway
                            </option>
                            <option>
                              Hangar
                            </option>
                            <option>
                              Holding area
                            </option>
                            <option>
                              Horticultural
                            </option>
                            <option>
                              Kennel
                            </option>
                            <option>
                              Kitchen
                            </option>
                            <option>
                              Lab
                            </option>
                            <option>
                              Laundry
                            </option>
                            <option>
                              Loading dock
                            </option>
                            <option>
                              Lobby
                            </option>
                            <option>
                              Locker room
                            </option>
                            <option>
                              Machine Shop
                            </option>
                            <option>
                              Manufacturing area
                            </option>
                            <option>
                              Operating room
                            </option>
                            <option>
                              Packaging area
                            </option>
                            <option>
                              Play area
                            </option>
                            <option>
                              Pool/Deck
                            </option>
                            <option>
                              Processing room
                            </option>
                            <option>
                              Pump room
                            </option>
                            <option>
                              Rest room
                            </option>
                            <option>
                              Retail space
                            </option>
                            <option>
                              Show room
                            </option>
                            <option>
                              Shower
                            </option>
                            <option>
                              Walls
                            </option>
                            <option>
                              Brewery
                            </option>
                            <option>
                              Walkway
                            </option>
                            <option>
                              Pharmacy
                            </option>
                            <option>
                              Classroom
                            </option>
                            <option>
                              Breakroom
                            </option>
                            <option>
                              Assembly area
                            </option>
                            <option>
                              Garage
                            </option>
                            <option>
                              Basement
                            </option>
                            <option>
                              Living area
                            </option>
                            <option>
                              office / work space
                            </option>
                          </select>
                        </div>
                      </div><input class="btn btn-primary" type="submit" value="Go">
                    </form>
                    {% block product-content %}
                    {% endblock product-content %}
                </div>
            </div>
            <div class="span4">
                <div class="big-pad-right">
                    <div class="well beige">
                        {% page "image" type=img %}
                    {% if page.content.image %}
                        <img src="{% imgix_url page.content.image.url %}?w=300" data-srv-name="image">
                    {% else %}
                        <img src="/static/img/sub-placeholder.jpg" data-srv-name="image">
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
