{% extends "base.html" %}

{% block hero %}
{% endblock %}

{% block body %}
    <div class="product beige-bg">
        <div class="big-pad">
            <h1 class="border">Video Gallery <img src="{{ STATIC_URL }}img/video-play.png"></h1>
            {% chunk "video-gallery-summary" %}
        </div>



        <ul class="thumbnails video-gallery" itemscope itemtype="http://schema.org/VideoObject">
        {% children as "categories" %}
        {% for category in categories %}
            <li class="span4">
            <div class="vid-pad">
                <a class="thumbnail" href="{{ category.get_absolute_url }}" title="{{ category.content.name|default:"" }}"><img itemprop="image" class="bordered" src="{% imgix_url category.content.image %}?w=370&amp;h=205&amp;crop=entropy&amp;fit=crop" alt="{{ category.content.name|default:"" }} (thumbnail)"></a>
                <p class="caption"><a href="{{ category.get_absolute_url }}">{{ category.content.name }} | {{ category.content.videos|length }} videos</a></p>
            </div>
            </li>
        {% endfor %}
        </ul>

</div>

{% if editing %}

                <p><br></p>
                <div class="well">
                <h2>Admin tools</h2>
                {% include "_meta-admin-tools.html" %}
                </div>
                
                {% endif %}
                
                
                
{% endblock body %}