h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-rendering: optimizeLegibility!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:1px 1px 1px 1px rgba(0,0,0,0.005);

  a{
    color: $body-color;

    &:hover {
      color: $primary-color;
    }
  }
}

p {
  a{
    color: $brand-gold-dark;

    &:hover {
      color: $brand-gold-dark;
      text-decoration: underline;
    }
    &:focus {
      color: $brand-gold-dark;
      text-decoration: underline;
    }
    &:visited {
      color: $brand-gold-dark;
    }
  }
}

li {
  a{
    color: $maroon;

    &:hover {
      text-decoration: underline;
      color: $maroon;
    }
    &:focus {
      text-decoration: underline;
      color: $maroon;
    }
  }
}

// bulleted list styles for body copy

.card-body ul {
  list-style: none;

  li:before {
  font-family: $icon-font-family;
  font-weight: bold;
  content: '\f054';
  margin:0 5px 0 -15px;
  color: $brand-gold;
  }
}

.card-body{
  .estimate li:before {
    content: none
  }
  .pdfs li:before {
    content: none
  }
  .color-thumbnails li:before {
    content: none
  }
}

.arrow-gold {
  list-style: none;

  li {
    margin-bottom: .65rem;
  }

  li:before {
  font-family: $icon-font-family;
  font-weight: bold;
  content: '\f054';
  margin:0 5px 0 -22px;
  color: $brand-gold;
  }
}

.arrow-maroon {
  list-style: none;

  li {
    margin-bottom: .65rem;
  }

  li:before {
  font-family: $icon-font-family;
  font-weight: bold;
  content: '\f054';
  margin:0 5px 0 -22px;
  color: $maroon;
  }
}

.arrow-white {
  list-style: none;

  li {
    margin-bottom: .65rem;
  }

  li:before {
  font-family: $icon-font-family;
  font-weight: bold;
  content: '\f054';
  margin:0 5px 0 -22px;
  color: #fff;
  }
}

// end bulleted list styles for body copy
