.pad-bottom {
  padding-bottom: 3em;
}

b, strong {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.chevron-after:after {
font-family: $icon-font-family;
font-weight: bold;
content: '\f054';
margin:0 0 0 5px;
color: $brand-gold;
}



.row {
  width: 100%;
}
