{% extends "base.html" %}

{% block hero %}
<!-- Intro Section -->
<div
  class="hero
    view
    hm-black-strong-1
    jarallax
    {% block heroclass %}x-small-hero{% endblock %}
    "

  data-srv-name="masthead_img"
  style="background-image: url({% imgix_url page.content.masthead_img %}?w=1800&h=1000&fit=crop&crop=entropy&sat=-80&crop=bottom&blend=000000&bm=normal&balph=50);">
    <div class="full-bg-img d-flex justify-content-start align-items-end">
      {% page "masthead_img" type="img" %}
        <div class="container">
            <div class="row smooth-scroll">
                <div class="col-md-12">
                    <div class="product-head wow fadeInDown" data-wow-delay="0.2s">
                        <h1>Search</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block main %}
<style>
.result em {
  color: #8c2b00;
}
</style>

<section class="home-section">
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
          {% for result in results.hits.hits %}
              <h2><br><a href="/{{ result.obj.path }}?q={{ request.GET.q }}">{{ result.obj.content.title|safe }}</a></h2>
              {% for h in result.highlight.searchable_text %}
                  <p class="result">{{ h|safe }} &hellip;</p>
              {% empty %}
                  <p class="result">No results found.</p>
              {% endfor %}
          {% endfor %}

          {% include "includes/snippets/pagination.html" %}

        </div>
    </div>
</div>
</section>
{% endblock %}
