{% extends "base.html" %}

{% block body %}
<style>
  .highlighted{
    font-weight:bold;
  }
</style>
<div class="beige-bg">
    <div class="big-pad">
      <h1>Search Results</h1>
    </div>
    <div class="row">
        <div class="span12">

                <div class="row">
                <div class="span8">
                <div class="big-pad">

                {% for result in results.hits.hits %}
                    <h2><a href="/{{ result.obj.path }}?q={{ request.GET.q }}">{{ result.obj.content.title }}</a></h2>
                    {% for h in  result.highlight.searchable_text %}
                        <p>{{ h|striptags }}</p>
                    {% empty %}
                        <p><br>No results found.</p>
                    {% endfor %}
                {% endfor %}







                    {% if page.has_previous or page.has_next %}
                        <div class="pagination">
                        <ul>
                            {% if page.has_previous %}<li><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">◀</a></li>
                            {% else %}<li class="disabled"><a>◀</a></li>
                            {% endif %}

                            {% if page.has_next %}<li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">▶</a></li>
                            {% else %}<li class="disabled"><a>▶</a></li>
                            {% endif %}
                        </ul>
                        </div>
                    {% endif %}

            </form>
        </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}
