{% extends "base.html" %}

{% block hero %}
<!-- Intro Section -->
<div
  class="hero
    view
    hm-black-strong-1
    jarallax
    {% block heroclass %}x-small-hero{% endblock %}
    "

  data-srv-name="masthead_img"
  style="background-image: url({% if page.content.masthead_img %}{% imgix_url page.content.masthead_img %}{% else %}{% imgix_url "/dist/img/iStock-92277191.jpg" %}{% endif %}?w=1800&h=1000&fit=crop&crop=entropy&sat=-80&crop=bottom&blend=000000&bm=normal&balph=50);">
    <div class="full-bg-img d-flex justify-content-start align-items-end">
      {% page "masthead_img" type="img" %}
        <div class="container">
            <div class="row smooth-scroll">
                <div class="col-md-12">
                    <div class="product-head wow fadeInDown" data-wow-delay="0.2s">
                        <h1>Edit gallery image (admin only view)</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block main %}
<section class="home-section">
  <div class="container" id="{{ page.content.slug }}">


                                <h3><small>Title:</small><br>
                                    {% page "title" type="text" %}
                                </h3>
                                <p><small>Description:</small><br>
                                    {% page "description" type="text" %}
                                </p>
                                <p>{% page "image_category" type="select" %}</p>

                                <p>{% page "image_subcategory" type="select" %}</p>

                                <p>{% page "tags" type="select" multiple="True" %}</p>

                                <div style="margin:1em 0;max-width:270px">
                                    {% page "image" type="img" %}
                                    {% if page.content.image %}
                                        <img src="{% imgix_url page.content.image %}?w=270" data-srv-name="image">
                                    {% else %}
                                        <img src="http://placehold.it/800x200&text=no+image" data-srv-name="image">
                                    {% endif %}
                                </div>

</div>
</section>
{% endblock %}
