{% extends "base.html" %}
{% block bodyclass %}gallery-pages {% endblock %}
{% block hero %}
<!-- Intro Section -->
<div
  class="hero
    view
    hm-black-strong-1
    jarallax
    {% block heroclass %}x-small-hero{% endblock %}
    "

  data-srv-name="masthead_img"
  style="background-color: #f5f5f5;">
    <div class="full-bg-img d-flex justify-content-start align-items-end">
      {% page "masthead_img" type="img" %}
        <div class="container">
            <div class="row smooth-scroll">
                <div class="col-md-12">
                    <div class="product-head wow fadeInDown" data-wow-delay="0.2s">
                        <h1>Edit gallery image (admin only view)</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block main %}
<section class="home-section">
  <div class="container" id="{{ page.content.slug }}">


                                <h3><small>Title:</small><br>
                                    {% page "title" type="text" %}
                                </h3>
                                <p><small>Description:</small><br>
                                    {% page "description" type="text" %}
                                </p>
                                <p>{% page "image_category" type="select" %}</p>

                                <p>{% page "image_subcategory" type="select" %}</p>
                                {% comment %}
                                <p>{% page "tags" type="select" multiple="True" %}</p>
                                {% endcomment %}
                                <p>{% page "add_to_system" type="select" multiple="True" %}</p>

                                <div style="margin:1em 0;max-width:270px">
                                    {% page "image" type="img" %}
                                    {% if page.content.image %}
                                        <img src="{% imgix_url page.content.image %}?w=270" data-srv-name="image">
                                    {% else %}
                                        <img src="http://placehold.it/800x200&text=no+image" data-srv-name="image">
                                    {% endif %}
                                </div>

</div>
</section>
{% endblock %}
