{% extends "base.html" %}

{% block hero %}
<!-- Intro Section -->
<div
  class="hero
    view
    hm-black-strong-1
    jarallax
    {% block heroclass %}x-small-hero{% endblock %}
    "

  data-srv-name="masthead_img"
  style="background-image: url({% if page.content.masthead_img %}{% imgix_url page.content.masthead_img %}{% else %}{% imgix_url "/dist/img/iStock-92277191.jpg" %}{% endif %}?w=1800&h=1000&fit=crop&crop=entropy&sat=-80&crop=bottom&blend=000000&bm=normal&balph=50);">
    <div class="full-bg-img d-flex justify-content-start align-items-end">
      {% page "masthead_img" type="img" %}
        <div class="container">
            <div class="row smooth-scroll">
                <div class="col-md-12">
                    <div class="product-head wow fadeInDown" data-wow-delay="0.2s">
                        <h1>{% page "title" type="text" %}</h1>
                    </div>
                    {% block undertitle %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block main %}
<section class="home-section">
  <div class="container" id="{{ page.content.slug }}">
    {% chunk "photo-gallery-top" %}

    <div class="row" itemscope itemtype="http://schema.org/ImageGallery">
    {% children as "categories" order_by="published" %}
    {% for category in categories %}
        <div class="col-md-3">
            <a class="thumbnail z-depth-1 hm-zoom waves-light waves-effect waves-light" href="/photo-gallery/{{ category.content.slug }}/" title="{{ category.content.name|default:"" }}">
                <img itemprop="image" class="bordered" src="{% imgix_url category.content.cover_image %}?w=270&h=230&crop=entropy&fit=crop" alt="{{ category.content.name|default:"" }} (thumbnail)"></a>
            <p class="caption">
                <a class="thumbnail" href="/photo-gallery/{{ category.content.slug }}/" title="{{ category.content.name|default:"" }}">
                    {{ category.content.name }}  <br><small>Click for photos</small>
                </a>
            </p>
        </div>
    {% endfor %}
    </div>
  </div>
</section>
{% endblock main %}
