{% extends "base.html" %}
{% block bodyclass %}gallery-pages {% endblock %}
{% block hero %}
<!-- Intro Section -->
<div
  class="hero
    view
    hm-black-strong-1
    jarallax
    {% block heroclass %}x-small-hero{% endblock %}
    "

  data-srv-name="masthead_img"
  style="background-color: #f5f5f5;">
    <div class="full-bg-img d-flex justify-content-start align-items-end">
      {% page "masthead_img" type="img" %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-head wow fadeInDown" data-wow-delay="0.2s">
                        <h1><span class="subcat-page-title">{% page "title" type="text" %}</span></h1>
                        <h5><a href="/photo-gallery"><i class="fa fa-chevron-left"></i> Photo Gallery</a></h5>
                    </div>
                    {% block undertitle %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block main %}
<section class="home-section">
  <div class="container" id="{{ page.content.slug }}">
    {% page "content" typex="wysiwyg" %}

    <div class="row" itemscope itemtype="http://schema.org/ImageGallery">
      {% children as mixed_img_sub order_by="published" %}
      {% autopaginate mixed_img_sub 16 %}
      {% for image in page_obj %}
        <div class="col-md-3" id="{{ image.id }}">
          {% if image.content.cover_image %}
          <a class="thumbnail subcategory z-depth-1 hm-zoom waves-light waves-effect waves-light" itemprop="image" href="/{{ image.path }}" title="{{ image.content.name|default:"" }}"><img class="bordered" src="{% imgix_url image.content.cover_image %}?w=270&amp;h=230&amp;crop=entropy&amp;fit=crop" alt="{{ image.content.name|default:"" }}"></a>
          <p class="caption subcat"><a href="/{{ image.path }}" title="{{ image.content.name|default:"" }}">{{ image.content.name }} <br><span>Click for photos</span></a></p>

          {% else %}
          <a class="thumbnail"
              data-fancybox="photo-gallery"
              itemprop="image"
              href="{% imgix_url image.content.image %}?w=800&amp;h=800&amp;mark=/fb19770b-7be1-4c05-87a1-509b359e6111/0a/a0/0aa024ad767d4f5585cdf8a7e3e4fa4e-duraamen.png"
              title="{% firstof image.content.description image.title "" %}"
          ><img class="bordered" src="{% imgix_url image.content.image %}?w=270&amp;h=230&amp;crop=entropy&amp;fit=crop" alt="{% firstof image.content.description image.title "" %} (thumbnail)"></a>

          <p class="gallery-photo-caption">{% firstof image.content.description image.title "" %}
          </p>
              {% if editing %}
              <a class="srv-icon-label srv-edit" href="{{ image.get_absolute_url }}/admin"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pencil-sm"></use></svg>Edit</a>
              {% endif %}
          {% endif %}
        </div>
    {% endfor %}
    </div>
    {% include "includes/snippets/pagination.html" %}


  </div>
</section>
{% endblock main %}
