.hero {
  background-position: bottom center;
  background-size: cover;

  .btn.btn-lg {
    font-size: 1.1rem;
    line-height: 1.2;
    padding: 0.8rem 2.4rem 0.4rem;
    color: $dark-gray !important;
  }

  h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .5rem;
    color: $brand-gold;
  }

  h4 {
    font-weight: 700;
    line-height: 1.2;
    color: $white;
  }

  .srv-icon-img-edit {
    top: 47px;
    z-index: 200;
  }

  &.full-height-hero {
    &.jarallax {
      min-height: 100vh;
    }

    h1 {
      margin-bottom: 1em;
    }
  }

  .product-head {
    margin-bottom: 50px;
    margin-top: 130px;
  }

  &.smaller-hero {
    &.jarallax {
      min-height: 500px;
    }
  }

  &.x-small-hero {
    &.jarallax {
      min-height: 260px;
    }
  }

  @include media-breakpoint-up(md) {
    .product-head {
      margin-bottom: 100px;
    }

    h1 {
      font-size: 3.5rem;
    }

    h4 {
      margin-top: 0.5rem;
      margin-bottom: 3rem;
    }

    &.x-small-hero {
      &.jarallax {
        min-height: 400px;
      }
    }
  }
}
