.hero {
  background-position: bottom center;
  background-size: cover;
  display: flex;
  align-items: center;

  .btn.btn-lg {
    font-size: 1.1rem;
    line-height: 1.2;
    padding: 0.8rem 2.4rem 0.4rem;
    color: $dark-gray !important;
  }

  h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .5rem;
    color: $brand-gold;

    @at-root .product-pages &,
    .product-category-pages &,
    .system-pages & {
      color: $maroon;
      font-family: $font-family-sans-serif;
      font-weight: 500;
    }
    @at-root .video-pages &,
    .gallery-pages & {
      color: $maroon;
    }
  }

  h4 {
    font-weight: 700;
    line-height: 1.2;
    color: $white;

    @at-root .product-pages &,
    .system-pages &,
    .product-category-pages & {
      color: $dark-gray;
      font-family: $font-family-sans-serif;
      font-weight: 100;
    }
    @at-root .video-pages & {
      color: $dark-gray;
    }
  }

  &.full-height-hero {
      min-height: 100vh;

    h1 {
      margin-bottom: 1em;
    }
  }

  .product-head {
    margin-bottom: 50px;
    margin-top: 130px;
  }

  &.smaller-hero {
    min-height: 260px;
  }

  &.x-small-hero {
    min-height: 340px;
    text-align: center;
    padding-top: 45px;//keeps title from going under nav on mobile
  }

  @at-root .product-pages &.x-small-hero,
  .product-category-pages &.x-small-hero,
  .system-pages &.x-small-hero {
    min-height: 260px;
    text-align: center;

    h4 {
      font-size: 1.25rem;
    }
  }

  @include media-breakpoint-up(md) {
    & {margin-top: 110px;}

    .product-head {
      margin-bottom: 100px;
    }

    h1 {
      font-size: 3.5rem;
      margin-bottom: 0;
    }

    h4 {
      margin-top: 0.5rem;
      margin-bottom: 3rem;
    }

    &.x-small-hero {
      min-height: 400px;
      padding-top: 0px;//resets padding for full screen
    }
    @at-root .product-pages &.x-small-hero,
    .product-category-pages &.x-small-hero,
    .system-pages &.x-small-hero {
      min-height: 260px;
      text-align: left;
    }

    @at-root .video-pages &.x-small-hero,
    .gallery-pages &.x-small-hero {
      min-height: 230px;
    }

    .push-content {
      margin-bottom: 120px;
    }
  }
}

.top-button {
  .srv-icon-img-edit {
    // top: 117px;
    z-index: 200;
  }
}
