.nav-top {
  background: $dark-gray;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 100;

  .search-form {
    margin-bottom: 0;
    margin-left: auto;

    input {
      margin-top: 0;
      margin-bottom: 4px;
      color: $light-gray-1;
      padding-top: .05rem;
      padding-bottom: .05rem;
    }
  }

  .btn-floating {
    width: 24px;
    height: 24px;
    background-color: $light-gray-1;
    margin: 0;

    i {
      line-height: 27px;
      color: $dark-gray;
      font-size: 14px;
    }
  }

  .has-contact-links {
    display: flex;
    align-items: center;
  }

  .contact-link {
    color: $light-gray-1;
  }

  .contact-link.phone {
    span,
    .fa {
      display: inline-block;
      vertical-align: middle;
    }
    .fa {
      font-size: 24px;
      margin-top: -4px;
      margin-right: 4px;

    }
  }

  .fa-chevron-right {
    font-size: 12px;
    margin-left: 3px;
  }
}

.navbar {
  background-color: rgba(255, 255, 255, .95);

  &,
  &.top-nav-collapse,
  &.scrolling-navbar {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  // &.navbar-light:not(.top-nav-collapse) {
  //   background-color: $light-gray-2;
  //   box-shadow: none;
  // }

  .dropdown-menu .dropdown-item {
    padding-top:0;
    padding-bottom:0;
  }

  &.navbar-light .breadcrumb .nav-item .nav-link,
  &.navbar-light .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    color: $dark-gray;
  }

  // remove arrows
  .dropdown-toggle::after {
    content: none;
  }

  &.fixed-top {
    top: 40px;
  }

  .navbar-brand {
    width: 100px;
    height: auto;

    img {
      max-width: 100%;
    }
  }

  @include media-breakpoint-up(lg) {
    // &.navbar-light:not(.top-nav-collapse) {
    //   background: transparent;
    //
    //   .navbar-nav .nav-item .nav-link {
    //     color: $light-gray-2;
    //   }
    // }

    .navbar-brand {
      width: 200px;
      height: 60px;
      padding: 10px 0;
      img {
        width: 200px;
        height: 40px;
      }
    }

    .nav-link {
      color: $dark-gray;
      font-size: 0.9em;
    }
  }
}

.navbar-nav {
  justify-content: space-between;
  width: 100%;
}

.hide-for-mobile {
  display: none !important;
}

.has-contact-links {
  text-align: center;
  justify-content: center;
  padding-top:10px;
}

@include media-breakpoint-up(md) {
  .hide-for-mobile {
    display: flex !important;
  }

  .has-contact-links {
    padding-top: 0;
    text-align: left;
    justify-content: flex-start;
  }
}


.side-nav {
  background-color: $dark-gray;

  .collapsible .copied-link {
    margin-left: -26px;

    a {
      font-weight: bold;
    }
  }

  .collapsible-header.active {
    opacity: 0.4;
  }
}


.product-nav-sidebar {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    color: $primary-color;
    display: block;
    padding: 10px;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }

  a:hover::before, a:focus::before {
    font-family: $icon-font-family;
    font-weight: bold;
    content: '\f054';
    margin:0 5px 0 -1rem;
    color: $gray;
  }

  > li {
    display: block;
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    > li a {
      padding-left: 40px;
    }
  }
  li.current > a {
    font-weight: bold;
  }
  li.current > a:before {
  font-family: $icon-font-family;
  font-weight: bold;
  content: '\f054';
  margin:0 5px 0 -15px;
  color: $brand-gold;
  }

  > li.trail,
  > li.current {
    ul {
      display: block;
    }

  }
}

@include media-breakpoint-up(sm) {
  .product-nav-sidebar {
    display: block;
  }
}

.product-breadcrumb {
  li {display: none;}
  li.trail {display: flex-item;}
  li.current a { font-weight: bold;}
}
