.success, .contact, .thank-you {
  text-align: center;

  .hero{

    h1 {
      color:$maroon;
    }
  }

  .main-body {
    min-height: 300px;
  }
}


//Gallery Pages

.gallery-pages {

  .caption {
    text-align: center;

    a {
      color: $brand-gold-dark;
      font-weight: 600;
    }
    a:hover {
      text-decoration: none;
      color: $brand-gold;
    }
  }
}
// Center Category Items on Mobile Devices
.product-category-pages, .system-category-pages, .blog  {
  .row{
    &.justify-content-center{
    margin-left: 15px;
    }
  }
  @include media-breakpoint-up(md) {
    .row{
    &.justify-content-center{
      margin-left: -15px;
    }
  }
  }
}

// Privacy Policy & other flat pages with tables
.normalTable td {
  display: table-cell;
}

// move livechat window up
#livechat-compact-container {
  bottom: 55px!important;
}

// Case Studies

body.case-study-pages {

  .main-body select {
    display: inline-block!important;
  }

  .main-body h3 {
    font-size: 1.4em;
    padding-left: 0;
  }
}
