{% extends "blog/blog_base.html" %}

{% block head_title %} Duraamen News{% endblock %}

{% block primary %}
    {% if path_split.1 == "section" %}
        {% select_pages "sections" path_split.2 varname="posts" order_by="-published" %}
    {% else %}
        {% children as posts order_by="-published" %}
    {% endif %}

    {% autopaginate posts 8 %}
    <div class="row">
        <div class="span8">
            <div class="big-pad-left pad-top">
            {% if tag %}<h1><small>Posts tagged {{ tag }}</small></h1>{% endif %}
            {% if posts %}
                {% for post in posts %}
                    <h1><a href="{{ post.get_absolute_url }}{% if editing %}/admin{% endif %}" class="post-link">{{ post.content.title|safe }}</a></h1>
                    <p class="teaser">{{ post.content.content|truncatewords_html:75|striptags|safe }}</p>
                    <p class="more"><a href="{{ post.get_absolute_url }}{% if editing %}/admin{% endif %}" class="post-link">read more...</a></p>
                    <hr />
                {% endfor %}
                <div class="pagination">
                    <ul>
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">â—€</a></li>
                            {% else %}
                            <li class="disabled"><a>â—€</a></li>
                        {% endif %}

                        <li class="active">
                            <a>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
                        </li>

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">â–¶</a></li>
                            {% else %}
                            <li class="disabled"><a>â–¶</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <p>None Matching</p>
            {% endif %}

            {% if editing %}
                    <p><br></p>
                    <div class="well">

                    <h2>Admin tools</h2>
                    {% include "_meta-admin-tools.html" %}

                    </div>
                    {% endif %}



            </div>
        </div>
        <div class="span4">
            <div class="big-pad-right pad-top blog-sidebar">
        	   <div class="well beige">
                {% chunk "blog-sidebar" %}

                {% block under-sidebar %}
                {% include "_blog-sidebar-form.html" %}
                {% endblock %}

        	   </div>
            </div>
        </div>
    </div>
{% endblock %}
