{% extends "base.html" %}

{% block hero %}
<!-- Intro Section -->
<div
  class="hero
    view
    hm-black-strong-1
    jarallax
    {% block heroclass %}{% endblock %}
    "
  data-srv-name="masthead_img"
  style="background-image: url({% if page.content.masthead_img %}{% imgix_url page.content.masthead_img %}{% else %}{% imgix_url "/dist/img/iStock-92277191.jpg" %}{% endif %}?w=1800&h=1000&fit=crop&crop=entropy&sat=-80&crop=bottom&blend=000000&bm=normal&balph=50);">
    <div class="full-bg-img">
      {% page "masthead_img" type="img" %}
        <div class="container flex-center">
            <div class="row smooth-scroll justify-content-md-center">
                <div class="col-md-12 text-center">
                    <div class="wow fadeInDown" data-wow-delay="0.2s">
                        <h1>{% page "title" type="text" %}</h1>
                        <h4>{% page "subhead" type="text" %}</h4>
                    </div>
                    {% block undertitle %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block main %}
<section class="home-section">
  <div class="container" itemscope itemtype="http://schema.org/Article">
    <div class="row justify-content-center">
      <div class="col-10">
        <div itemprop="articleBody">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block undermain %}
<section>
  <div class="container pad-bottom">
    {% include "includes/sections/blog-random.html" %}
  </div>
</section>
{% endblock %}
