.shopify-buy__select-icon {
  display: none;
}

.shopify-buy__option-select {
  text-align: left;
}
.shopify-buy__option-select__select {
  width: 100%;
  margin-bottom: 10px;
}

.shop-button-wrappers {
  margin: 0 30px;
}
.second-shopify-product {
  background: #eee;
  box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  padding: 10px;
  margin: 30px 0;
}

.shopify-buy__product__actual-price  {
  color: $maroon;
  font-size: 24px;
}


.shopify-buy__btn {
  background-color: $maroon;
  display: block;
  width: 100%;
  margin: 6px 0;
  position: relative;

  &:hover {
    background-color: lighten($maroon, 5%) !important;
  }

  &:focus,
  &:active,
  &.active {
    background-color: darken($maroon, 15%) !important;
  }

  &:before {
    display: inline-block;
    content: "";
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" data-element="toggle.icon" viewBox="0 0 25 25" enable-background="new 0 0 25 25"><g><path fill="' + $white + '" d="M24.6 3.6c-.3-.4-.8-.6-1.3-.6h-18.4l-.1-.5c-.3-1.5-1.7-1.5-2.5-1.5h-1.3c-.6 0-1 .4-1 1s.4 1 1 1h1.8l3 13.6c.2 1.2 1.3 2.4 2.5 2.4h12.7c.6 0 1-.4 1-1s-.4-1-1-1h-12.7c-.2 0-.5-.4-.6-.8l-.2-1.2h12.6c1.3 0 2.3-1.4 2.5-2.4l2.4-7.4v-.2c.1-.5-.1-1-.4-1.4zm-4 8.5v.2c-.1.3-.4.8-.5.8h-13l-1.8-8.1h17.6l-2.3 7.1z"></path><circle fill="' + $white + '" cx="9" cy="22" r="2"></circle><circle fill="' + $white + '" cx="19" cy="22" r="2"></circle></g></svg>');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: baseline;
    margin: 0 6px -5px -10px;
  }
}




// second product button
// .second-shopify-product .shopify-buy__btn {
//   background-color: $gray;
//   color: #222;
//
//   &:hover {
//     background-color: lighten($gray, 5%) !important;
//   }
//
//   &:focus,
//   &:active,
//   &.active {
//     background-color: darken($gray, 15%) !important;
//   }
// }


h1.shopify-buy__product__title {
  font-size: 18px;
}
