.shopify-buy__select-icon {
  display: none;
}

.shopify-buy__option-select {
  text-align: left;
}
.shopify-buy__option-select__select {
  width: 100%;
  margin-bottom: 10px;
}

.shop-button-wrappers {
  margin: 0 30px;
}
.second-shopify-product {
  background: #eee;
  box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  padding: 10px;
  margin: 30px 0;
}

.shopify-buy__product__actual-price  {
  color: $maroon;
  font-size: 24px;
}

.shopify-buy__btn {
  background-color: $gold;
  display: block;
  width: 100%;
  margin: 6px 0;
  position: relative;
  color: #2d2d2d!important;
  font-size: 1.15em;
  text-transform: none;
  font-weight: 500;
  border-radius: 4px!important;
  border: 1px solid rgb(166, 166, 166);

  &:hover {
    background-color: lighten($gold, 5%) !important;
  }

  &:focus,
  &:active,
  &.active {
    background-color: darken($gold, 15%) !important;
  }

  &:before {
    display: inline-block;
    content: "";
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><style>.a{fill:#FFF;}</style><path d="M36 40H4c-2.2 0-4-1.8-4-4V4c0-2.2 1.8-4 4-4h32c2.2 0 4 1.8 4 4v32C40 38.2 38.2 40 36 40z" fill="#2D2D2D"/><path d="M33.5 9.6c-0.4-0.5-1-0.7-1.6-0.7H9.9L9.8 8.3C9.4 6.5 7.7 6.5 6.8 6.5H5.2C4.5 6.5 4 7 4 7.7s0.5 1.2 1.2 1.2h2.2l3.6 16c0.2 1.4 1.6 2.8 3 2.8h15.2c0.7 0 1.2-0.5 1.2-1.2s-0.5-1.2-1.2-1.2H14c-0.2 0-0.6-0.5-0.7-0.9l-0.2-1.4h15.1c1.6 0 2.8-1.6 3-2.8l2.9-8.7V11.2C34.1 10.6 33.9 10 33.5 9.6zM28.7 19.5v0.2c-0.1 0.4-0.5 0.9-0.6 0.9H12.5l-2.2-9.5h21.1C31.5 11.2 28.7 19.5 28.7 19.5z" class="a"/><ellipse cx="14.8" cy="31.2" rx="2.4" ry="2.4" class="a"/><ellipse cx="26.8" cy="31.2" rx="2.4" ry="2.4" class="a"/></svg>');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: baseline;
    margin: -5px -25px -10px 0;
    float: right;
  }
}

// Case Study pages

@include media-breakpoint-up(md) {
body.case-study-pages {

  .shop-button-wrappers {
    margin: 0 5px;
  }

  .shopify-buy__option-select__select {
    width: 100%;
    margin-bottom: 6px;
    font-size: .8em;
  }

  .shopify-buy__option-select__label {
    font-size: .85em;
    margin-bottom: 3px;
  }

  .shopify-buy__product__actual-price  {
    font-size: 16px;
  }

  .shopify-buy__btn {
    margin: 6px 0;
    padding: .6rem 1rem;
    font-size: .85em;
    white-space: nowrap;

    &:before {
      display: none;
    }
  }
}
}

@include media-breakpoint-up(lg) {
body.case-study-pages {

  .shop-button-wrappers {
    margin: 0 10px;
  }

  .shopify-buy__option-select__select {
    width: 100%;
    margin-bottom: 6px;
    font-size: .9em;
  }

  .shopify-buy__option-select__label {
    font-size: .9em;
    margin-bottom: 3px;
  }

  .shopify-buy__product__actual-price  {
    font-size: 16px;
  }

  .shopify-buy__btn {
    margin: 6px 0;
    padding: .6rem 2.13rem;
    font-size: .9em;

    &:before {
      display: inline-block;
      background-size: 1.6rem 1.6rem;
      width: 1.6rem;
      height: 1.6rem;
      margin: -3px -28px -1px 0;
    }
  }
}
}






// second product button
// .second-shopify-product .shopify-buy__btn {
//   background-color: $gray;
//   color: #222;
//
//   &:hover {
//     background-color: lighten($gray, 5%) !important;
//   }
//
//   &:focus,
//   &:active,
//   &.active {
//     background-color: darken($gray, 15%) !important;
//   }
// }


h1.shopify-buy__product__title {
  font-size: 18px;
}
