.product-image {
  position: relative;
  display: block;

  &:after{
    width: 32px;
    height: 32px;
    background: $dark-gray;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 32px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    content: "+";
  }

  &:hover:after {
    background: $gold;
  }
}

.color-thumbnails {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    text-align: left;
    max-width: 136px;
    font-size: 0.8em;
  }
  &.system-page {
    justify-content: flex-start;
    li {
      width: auto;
      max-width: 100%;
      margin: 0 20px 20px 0;
    }
  }
}

.two-column-text {
  column-count: 2;
  column-gap: 3em;
  margin: 1em 0;
  column-width: 500px;
}
