.related-products {
  flex: 0 1 100%;

  h5{
    font-family: $font-family-sans-serif;

    a {
      color: $maroon;
      font-weight: 500;

      &:hover {
        color: $brand-gold-dark;
      }
    }
  }
}

.recommended-tools {
  h5{
    font-family: $font-family-sans-serif;
    a{
      color: $maroon;
      font-weight: 500;
      font-size: 1rem;

      &:hover {
        color: $brand-gold-dark;
      }
    }
  }
}

@include media-breakpoint-down(sm) {

  .related-products {
    display: flex;
    flex-direction: row;
    //width: 100%;
    margin: 10px 0;


    .blog-preview-img {
      width: 100px;
      flex: 0 0 auto;
      align-self: center;
    }

    .card-body {
      flex: 1 1 auto;
    }
  }
}
