@include media-breakpoint-down(sm) {

  .related-products {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;


    .blog-preview-img {
      width: 100px;
      flex: 0 0 auto;
      align-self: center;
    }

    .card-body {
      flex: 1 1 auto;
    }
  }
}
