.section-icons {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 .5em 1em;
  }

  a {
    @extend .z-depth-1;
    transition: box-shadow .55s, background-color .3s;
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 0.7em;
    color: #fff;
    background-color: $gray;
    padding-top: 1px;

    &:hover {
      @extend .z-depth-2;
    }
  }

  li.arch a:hover { background-color: $brand-orange; }
  li.con a:hover { background-color: $brand-gold; }
  li.prop a:hover { background-color: $brand-beige; }
  li.diy a:hover { background-color: $brand-green; }

  svg {
    display: block;
    margin: 16px auto 0.5em;
    width: 40px;
    height: 40px;
  }


  @at-root .l-footer & {
    a {
      width: 100px;
      height: 100px;
      font-size: 0.7em;

      &:hover {
        color: #fff;
      }
    }

    svg {
      margin-top: 16px;
      width: 40px;
      height: 40px;
    }
  }

  @include media-breakpoint-up(md) {
    li {
      margin: 0 1em 2em;
    }

    a {
      width: 140px;
      height: 140px;
      font-size: 0.8em;
    }

    li.prop a {
      font-size: 0.7em;
    }

    svg {
      margin-top: 2em;
      width: 50px;
      height: 50px;
    }

    @at-root .l-footer & {
      li.prop a {
        font-size: 0.6em;
      }
    }
  }
}
