.video-pages  {
  .row {
    &.justify-content-center{
      margin-left: 0px!important;
    }
  }

  @include media-breakpoint-up(md) {
    .row{
      &.justify-content-center{
        margin-left: 0px!important;
      }
    }
  }
}


.fa-5 {
  font-size: 90px;
}
.fa-3 {
  font-size: 54px;
}

.video-gallery {
  a {
    //display: block;
    position: relative;

    .play-icon {
      position: absolute;
      top: 50%;
      text-align: center;
      text-shadow: 0 0 20px rgba($black, 0.5);
      color: #fff;
      opacity: 0.7;
      width: 100%;
      transform: translateY(-75%);
    }

    &:hover {
      .play-icon {
        opacity: 1;
        color: $gold;
      }
    }
  }
}

.thumbnails {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 1em;
  }
}
