<!-- SCRIPTS -->

<!-- JQuery -->
<script type="text/javascript" src="dist/js/jquery-3.1.1.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="dist/js/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="dist/js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="dist/js/mdb.min.js"></script>

<script>
    //Animation init
    new WOW().init();

    //Modal
    // $('#myModal').on('shown.bs.modal', function () {
    //   $('#myInput').focus()
    // })

    // Material Select Initialization
    $(document).ready(function() {
        $('.mdb-select').material_select();
    });

    // MDB Lightbox Init
    // $(function () {
    //     $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
    // });
</script>

<script>

    // SideNav Initialization
    $(".button-collapse").sideNav();

</script>
