{% menu "Navigation" begin_at="ecf1480f-b683-4e22-86b0-e603591e2fb1" trail_class="trail" current_class="active" %}
  {% for item in tree %}
  {% if "trail" in item.classes %}
      {% if item.children %}
      <div class="d-md-none">
      <p>Filter by:</p>
      <ul>
          {% for citem in item.children %}
          <li class="{{ citem.classes|join:" " }}">
            {% if not "active" in citem.classes %}<a href="{{ citem.url }}">{% endif %}
              {{ citem.name }}
            {% if not "active" in citem.classes %}</a>{% endif %}
          </li>
          {% endfor %}
      </ul>
      </div>
      {% endif %}
    {% endif %}
    {% endfor %}
