<footer class="l-footer text-center pb-5">

  <div class="container">

    <div class="row">

      <div class="col-md-4 ">
        <a class="footer-logo wave-light" href="/{% if editing %}admin{% endif %}">
          <img src="/dist/img/svg/logo-with-tag.svg" alt="Duraamen logo | concrete coatings & polished concrete products that are engineered to perform">
        </a>
      </div>

      <div class="col-md-8 text-right">
        <p>Copyright ©{% now "Y" %} Duraamen Engineered Products, Inc. All Rights Reserved.<br>View our <a class="contact-link" href="/terms-and-conditions">Terms and Conditions</a> & <a href="/privacy-policy">Privacy Policy</a>.</p>
      </div>

    </div>
  </div>
</footer>
