<div class="page-header header-filter" data-parallax="active" style="background-image: url('../assets/img/bg8.jpg');">
    <div class="container">
        <div class="row">
    <div class="col-md-8">
      <h2 class="title">Bob Harris, acclaimed concrete coatings expert, provides world class training</h2>
                <h4>Take your business to the next level by mastering advanced decorative concrete & industrial flooring installation techniques.
Register now as space is limited!</h4>
<h4>December 14–16, 2016 | Temple, GA</h4>
                <br />
                <a href="#" target="_blank" class="btn btn-primary btn-raised btn-lg">
        <i class="fa fa-play"></i> Register Now
      </a>
    </div>
        </div>
    </div>
</div>
