<!-- Intro Section -->
<div
  class="hero view hm-black-strong-1 jarallax"
  data-jarallax='{"speed": 0.2}'
  style="background-image: url( {% imgix_url "/dist/img/iStock-92277191.jpg" %}?w=1800&h=1000&fit=crop&sat=-80&crop=bottom&blend=000000&bm=normal&balph=50);">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row smooth-scroll justify-content-md-center">
                <div class="col-md-9 white-text text-center">
                    <div class="wow fadeInDown" data-wow-delay="0.2s">
                        <h1>Industrial Coatings & Decorative Concrete Flooring</h1>
                        <h4>High performance products for professional contractors, property managers, and do-it-yourselfers.</h4>
                    </div>
                    <a class="btn btn-secondary btn-lg waves-effect waves-light wow fadeInUp smooth-scroll" data-offset="110" data-wow-delay="0.2s" href="#main">
                        <span>Learn More</span><br>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
