<div class="hero view hm-black-strong-1 jarallax simple-hero" >
  <div class="container" style="position: relative">


    <div class="col-md-12">
      <div class="wow fadeInDown" data-wow-delay="0.2s">
        {% page "Title" type="wysiwyg" %}
      </div>
    </div>

    <div class="row">

      <div class="col-md-6">
        {% page "hero-content-left" type="wysiwyg" %}
      </div>
      <div class="col-md-6">
        {% page "hero-content-right" type="wysiwyg" %}
      </div>

    </div>


  </div>
</div>
