<div class="top-button">{% page "masthead_img" type="img" %}</div>
<div
  class="hero x-small-hero view hm-black-strong-1"
  style="background-image: url({% imgix_url page.content.masthead_img %}?w=1800&h=1000&fit=crop&sat=-80&crop=bottom&blend=000000&bm=normal&balph=50);"

    <div class="full-bg-img">
        <div class="container flex-center">
          <div class="row smooth-scroll justify-content-md-center">
                <div class="col-md-12 text-center">
                    <div class="wow fadeInDown" data-wow-delay="0.2s">
                        <h1>{% page "title" type="text" %}</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--
This is the if statment ofr the hero image on the homepage
{% if page.content.masthead_img %}{% imgix_url page.content.masthead_img %}{% else %}{% imgix_url "/dist/img/iStock-92277191.jpg" %}{% endif %}  -->
