<div class="nav-top">
  <div class="container">
    <div class="row">

      <div class="col col-lg-10 ml-auto mr-auto mr-md-0">
        <div class="row">

          <div class="col has-contact-links ">
            <a class="contact-link" href="/contact"><i class="fa fa-envelope-o" aria-hidden="true"></i><i class="fa fa-chevron-right" aria-hidden="true"></i> Request Info</a>
          </div>

    <div class="col-sm-6 col-md has-contact-links d-md-none d-lg-flex">
            <a class="contact-link phone" href="tel:8668356595"><i class="fa fa-mobile" aria-hidden="true"></i><span>+1 866.835.6595</span></a>
          </div>

      <div class="col-sm-6 col-md d-none d-sm-flex has-contact-links">
            <a class="contact-link" href="https://shop.duraamen.com/account"><i aria-hidden="true" class="fa fa-user"></i> <span class="d-none d-sm-inline">Your Account</span></a>
          </div>

          <div class="col-md-4">
          <a class="contact-link phone" href="tel:8668356595"><i class="fa fa-mobile" aria-hidden="true"></i><span>+1 866.835.6595</span></a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
