<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav right-aligned">
    <ul class="custom-scrollbar list-unstyled">
      <div class="logo-wrapper waves-light waves-effect waves-light">
          <a href="/"><img height="40" src="/dist/img/logo.svg" class="img-fluid flex-center" width="240"></a>
      </div>



        <!--Search Form-->
        <li>
            <form class="search-form" role="search">
                <div class="form-group waves-light">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </li>
        <!--/.Search Form-->
        <!-- Side navigation links -->
        <li>
          {% menu "Navigation" %}
              <ul class="collapsible collapsible-accordion">
                {% for item in tree %}
              <li id="menu-item-{{ item.name|slugify }}" class="{{ item.trail_class }} {{ item.current_class }}">
                <a
                  class="{% if item.children %}collapsible-header{% endif %} waves-effect arrow-r"
                  {% if not item.children %}href="{{ item.url }}"{% endif %}
                >{{ item.name|safe }} {% if item.children %}<i class="fa fa-angle-down rotate-icon"></i>{% endif %}</a>
                {% if item.children %}
                <div class="collapsible-body">
                  <ul>
                    {% if item.url %}<li class="copied-link"><a href="{{ item.url }}">{{ item.name|safe }}</a></li>{% endif %}
                    {% for citem in item.children %}
                    <li class="{{ item.trail_class }}">
                      <a class="waves-effect {{ item.current_class }}" href="{{ citem.url }}">{{ citem.name|safe }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
              </li>
              {% endfor %}
              </ul>
        </li>
        <!--/. Side navigation links -->

        <!--Social-->
        <li>
            <ul class="social">
                <li><a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>
                <li><a href="#" class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a></li>
                <li><a href="#" class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a></li>
                <li><a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a></li>
            </ul>
        </li>
        <!--/Social-->
    </ul>
</div>
<!--/. Sidebar navigation -->



<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/dist/img/logo.svg"  width="200" height="40">
        </a>
        <button data-activates="slide-out" class="navbar-toggler button-collapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>




        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--Links-->
            {% menu "Navigation" %}
                <ul class="navbar-nav mr-auto smooth-scroll">
                  {% for item in tree %}
                <li id="menu-item-{{ item.name|slugify }}" class="nav-item {{ item.trail_class }} {{ item.name|slugify }} {{ item.current_class}} {% if item.children %}dropdown{% endif %}">
                  <a
                    class="nav-link {% if item.children %}dropdown-toggle{% endif %} {{ item.current_class }}"
                    href="{{ item.url }}"
                    {% if item.children %}data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}
                  >{{ item.name|safe }}</a>
                  {% if item.children %}
                  <ul class="dropdown-menu">
                    {% for citem in item.children %}
                    <li class="dropdown-item {{ item.trail_class }}">
                      <a class="nav-link {{ item.current_class }}" href="{{ citem.url }}">{{ citem.name|safe }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
                {% endfor %}
                </ul>
        </div>
    </div>
</nav>
<!--/Navbar-->
