<nav class="navbar navbar-danger navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="/">Duraamen</a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Products
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-with-icons">
							<li>
								<a href="../sections.html#headers">
									Industrial Flooring
								</a>
							</li>
							<li>
								<a href="../sections.html#features">
									Architectural Concrete Flooring
								</a>
							</li>
							<li>
								<a href="../sections.html#blogs">
									Sealers / Topcoats
								</a>
							</li>
							<li>
								<a href="../sections.html#teams">
									Concrete Colorants
								</a>
							</li>
							<li>
								<a href="../sections.html#projects">
									Tools – Preparation & Repair Products
								</a>
							</li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Resources
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-with-icons">
							<li>
								<a href="../examples/about-us.html">
									Architects/Designers
								</a>
							</li>
							<li>
								<a href="../examples/blog-post.html">
									Under Construction
								</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="http://www.creative-tim.com/buy/material-kit-pro?ref=presentation" target="_blank" class="btn btn-white btn-simple">
							Technical FAQ
						</a>
					</li>
          <li>
						<a href="http://www.creative-tim.com/buy/material-kit-pro?ref=presentation" target="_blank" class="btn btn-white btn-simple">
							Project Gallery
						</a>
					</li>
          <li>
						<a href="http://www.creative-tim.com/buy/material-kit-pro?ref=presentation" target="_blank" class="btn btn-white btn-simple">
							Blog
						</a>
					</li>
          <li>
						<a href="http://www.creative-tim.com/buy/material-kit-pro?ref=presentation" target="_blank" class="btn btn-white btn-simple">
							Order Now
						</a>
					</li>
        		</ul>
        	</div>
    	</div>
    </nav>
