<footer class="l-footer text-center">

  <div class="container">

    <div class="row">

      <div class="col-md-4 ">
        <a class="footer-logo wave-light" href="/{% if editing %}admin{% endif %}">
          <img src="/dist/img/svg/logo-with-tag.svg" alt="Duraamen logo | concrete coatings & polished concrete products that are engineered to perform">
        </a>
      </div>

      <div class="col-md-4">
        <p><a class="contact-link" href="/terms-and-conditions">Terms & Conditions</a> | <a href="/privacy-policy">Privacy Policy</a></p>
      </div>

      <div class="col-md-4 mt-4">
        <h5><em aria-hidden="true" class="fa fa-mobile" style="font-size: 1.25rem;"></em> Contact us by Phone</h5>
        <p><a class="contact-link phone" href="tel:8668356595">+1 866.835.6595</a></p>
      </div>

    </div>

    <hr>
    <p>Copyright ©{% now "Y" %} <br>Duraamen Engineered Products, Inc. All Rights Reserved.</p>
    
  </div>

</footer>
