{% extends "site_base.html" %}
{% load frontendadmin_tags inlines chunks thumbnail biblion_tags schedule_ext_tags %}
{% load i18n %}

{% block site_title %}Locations {{ block.super }}{% endblock %}


{% block body %}
    {% block hero %}
    {% endblock hero %}
        <div class="row">
            <div class="span3">
                <h2 class="bg-head gray"><a style="color:#fff;"  href="/calendar/calendar/month/default/">Upcoming Events</a></h2>
                {% include "_events-list.html" %}
            </div>
            <div class="span6">
                {% block content %}
                <div class="standardContent">
                    {% block main-title %}<h2 class="bg-head red">Locations</h2>{% endblock %}
                    <ul>
                    {% for page in all_homepages %}
                        <li><a href="{{ page.get_absolute_url }}">{{ page.name }}</a>
                        {% frontendadmin_change page "Edit" %}
                        {% frontendadmin_delete page "Delete" %}
                        </li>
                    {% endfor %}
                    {% frontendadmin_add all_homepages "Add Homepage" %}
                </div>
                {% endblock content %}

                <a href="http://www.youtube.com/embed/vwD9yZnicjg" class="iframe" rel="fancied"><img src="/static/img/video-thumb.jpg" alt="" /></a>

                <hr>
                <h2>Want to know more?<br>
                Contact a düraamen representative now.</h2>
                <a class="contact-link" href="#">contact us</a> <a class="phone" href="#">1.866.835.6595</a>

            </div>
            <div class="span3">
                <h2 class="bg-head gold"><a href="/blog/" style="color:#fff;">Resources</a></h2>
                {% posts_by_section "all" 1 as posts %}
                {% for post in posts %}
                    <div class="post">
                        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        {{ post.teaser_html|safe }}
                        <p><br></p>
                    </div>
                {% endfor %}
                <div class="well well-small news-box">
                    <h2>Stay in the know!<br>
                    Sign Up for Our  Newsletter</h2>
                    <form method="post" action="http://oi.vresp.com?fid=e7b4069145" >
                        <strong><span style="color: #422e24;"></span></strong>
                        <p style="text-align: right; margin-top: 10px; margin-bottom: 10px;"><span style="color: #422e24"></span></p>
                        <label style="display:none;">First Name:</label>
                        <input name="first_name" placeholder="first name"  />
                        <label style="display:none;">Last Name:</label>
                        <input name="last_name" placeholder="last name" />
                        <label style="display:none;">Email Address:</label>
                        <input name="email_address" placeholder="e-mail" />
                        <label style="display:none;">Company Name:</label>
                        <input name="company_name" placeholder="company name" />
                        <input type="submit" value="Submit" class="btn btn-primary" style="width:auto;" />
                    </form>
                </div>
            </div>
        </div>

        <h2 class="bg-head center gold">Knowledge &amp; Inspiration</h2>
        <ul class="thumbnails foot-thumbs">
            <li class="span1-5">
                <div><a href="/forms/locate-a-contractor/"><img src="/static/img/foot-contractor.png" alt="" /></a>

                </div>
            </li>
            <li class="span1-5">
                <div><a href="/installers-edge/"><img src="/static/img/foot-installers.png" alt="" /></a>
                </div>
            </li>
            <li class="span1-5">
                <div><a href="/architects-corner/"><img src="/static/img/foot-architects.png" alt="" /></a>
                </div>
            </li>
            <li class="span1-5">
                <div><a href="/blog/"><img src="/static/img/foot-blog.png" alt="" /></a>
                </div>
            </li>
            <li class="span1-5">
                <div><a href="/photo-gallery/"><img src="/static/img/foot-gallery.png" alt="" /></a>
                </div>
            </li>
        </ul>
{% endblock body %}
