<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>jQuery Cookiebar Plugin Example</title>
		<style type="text/css">
			* {margin:0; padding:0; outline:0; border:0;}
			body {color:#444444; background:#fafafa; font-size:0.8em; font-family:'Roboto',Verdana,Geneva,Arial,Helvetica,sans-serif;}
			.container {max-width:480px; margin:0 auto; font-size:1em; line-height:1.6}
			h1, h2, h3, h4, h5, h6, p, ul, ol {padding:0.35em 0;}
			strong {font-weight:bold;}
			code {display:block; padding:6px; border:1px solid #bbbbbb; line-height:normal; font-size:1.3em; background:#fafafa; margin:0.35em 0;}
		</style>
		<link rel="stylesheet" type="text/css" href="jquery.cookiebar.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" src="jquery.cookiebar.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$.cookieBar({
					policyButton:true,
					policyURL: '/privacy/',
				});
			});
		</script>
	</head>
	<body>
		<div class="container">
			<h1>jQuery CookieBar example</h1>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- jQuery_336 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-2783044520727903"
     data-ad-slot="5649687997"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet at tortor in varius. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec aliquet enim id turpis molestie, vitae pharetra nisi imperdiet. Sed ac quam justo. Aenean vel augue rhoncus, lobortis dolor dapibus, convallis massa. Maecenas non arcu eleifend, convallis arcu ornare, imperdiet arcu. Nam consectetur elementum nunc ut feugiat. Vestibulum ac placerat leo.</p>
			<p>Vivamus vehicula, est in fringilla dapibus, magna lectus accumsan arcu, vitae fermentum justo quam vitae enim. Suspendisse auctor elit a quam pellentesque congue. Proin ac elementum urna. Suspendisse sit amet neque purus. Suspendisse ultrices eget ex fermentum placerat. Nunc metus risus, lobortis sit amet arcu eget, sagittis hendrerit sem. Vivamus tincidunt erat a magna ornare maximus. Quisque pharetra purus magna. Aliquam porttitor urna ut nibh mollis rhoncus. Curabitur et urna mi. Nullam et risus a nisi tempus tincidunt. Suspendisse potenti. Maecenas eu volutpat orci.</p>
			<p>Vestibulum eget varius nibh, condimentum auctor tortor. Nulla fermentum mollis ante, eget gravida nisi hendrerit sit amet. In rutrum ante mauris, at venenatis turpis blandit nec. Nullam eget pellentesque justo. Phasellus viverra arcu et consequat ornare. In id ligula et sem tristique viverra at in lorem. Ut sed tellus quis felis commodo euismod non et quam.</p>
			<p>Sed scelerisque elementum pharetra. Integer nec eros efficitur purus volutpat aliquam in vel ante. Etiam eget est sagittis, pretium purus id, molestie ipsum. Maecenas accumsan commodo velit id tincidunt. Nulla at euismod libero. Duis condimentum est mauris, nec semper dolor vestibulum id. Vivamus elit lectus, faucibus vitae tincidunt ac, bibendum efficitur dolor. Cras sit amet maximus tortor. Integer eu nisi nisi. Fusce pharetra ultricies sagittis. Donec iaculis ultrices auctor. Nunc ultrices consectetur nulla, non placerat tortor eleifend eleifend.</p>
			<p>Mauris eros nibh, suscipit a eros ac, vehicula finibus nibh. Duis convallis, justo sit amet aliquet aliquet, libero tellus lobortis mauris, ac pellentesque ex turpis ullamcorper turpis. Proin pulvinar dictum neque, nec pretium massa consectetur in. Ut placerat efficitur risus, in rhoncus purus vehicula at. Fusce dictum, dui id elementum varius, est felis consequat purus, at ornare ex velit at leo. Donec efficitur quam ut nisl mattis imperdiet. Maecenas nec molestie ipsum.</p>
		</div>
        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</body>
</html>
