{% extends "blog/blog_base.html" %}

{% block bodyclass %}case-study-pages {% endblock %}

{% block heroclass %}{% if page.content.masthead_img %}show-copy-hero{% else %}x-small-hero{% endif %}{% endblock %}

{% block undertitle %}
{% if page.content.masthead_img %}
<a class="btn btn-secondary btn-lg waves-effect waves-light wow fadeInUp smooth-scroll" data-offset="110" data-wow-delay="0.2s" href="#main">
  <span>Read More</span><br>
  <i class="fa fa-chevron-down"></i>
</a>
{% endif %}
{% endblock %}


{% block main %}
<section class="home-section">
  <div class="container" id="{{ page.content.slug }}" itemscope itemtype="http://schema.org/Product">
    <div class="row justify-content-center">

      <div class="col-md-9">
        {% new_page_button label="New Case Study" parent="case-studies" %}
        <div class="accordion" role="tablist" aria-multiselectable="true" id="projectAccordion">

          <!-- Accordion card -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="advantages">
              <h2 class="mb-0">
                Project Details
              </h2>
            </div>
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <h4><strong>Client:</strong></h4>
                  {% page "client" type="wysiwyg" placeholder="Client" %}
                </div>
                <div class="col-md-4">
                  <h4><strong>Installer:</strong></h4>
                  {% page "installers" type="wysiwyg" placeholder="Installer" %}
                </div>
                <div class="col-md-4">
                  <h4><strong>Products Used:</strong></h4>
                  {% page "products_used" type="wysiwyg" placeholder="Products Used" %}
                </div>
              </div>
            </div>
          </div>
          <!-- Accordion card -->


          <!-- Accordion card -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingOne">
              <h2 class="mb-0">
                The Challenge
              </h2>
            </div>
            <!-- Card body -->

            <div class="card-body">
              {% page "challenge" type="wysiwyg" %}
            </div>
          </div>
          <!-- Accordion card -->

          <!-- card -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingTwo">
              <h2 class="mb-0">The Outcome</h2>
            </div>
            <!-- Card body -->
            <div class="card-body">
              {% page "outcome" type="wysiwyg" %}
            </div>
          </div>
          <!-- card -->

          <!-- card -->
          {% if page.content.gallery or editing %}
          <div class="card">
            <!-- Card body -->
            <div class="card-body">
              <div class="mt-3 mb-3">
                {% page_list "gallery" %}
                <a class="d-inline-block z-depth-1" data-fancybox="photos" href="{% imgix_url list_item.image %}?w=1400&h=1400">
                  {% list_item "image" type="image" %}
                  <img class="bordered side-product-photo" src="{% imgix_url list_item.image %}?w=150&h=150&fit=crop" itemprop="image">
                </a>
                {% end_list %}
              </div>
            </div>
          </div>
          {% endif %}
          <!-- card -->

          <!-- Accordion card -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree">
              <h2 class="mb-0">
                Overview
              </h2>
            </div>
            <!-- Card body -->
            <div class="card-body">
              {% page "content" type="wysiwyg" %}
            </div>
          </div>
          <!-- Accordion card -->

        </div>
      </div>

      <div class="col-md-3">
        {% page "image" type="img" %}
        {% if not editing %}
        <div class="z-depth-1-half pb-2 pr-2 pl-2 mb-0 mb-md-0">
          <a class="product-image  d-block" data-fancybox href="{% imgix_url page.content.image %}?w=1400&h=1400">
            {% endif %}
            <img
            class="img-fluid"
            alt="{{ page.content.title|striptags }} {{ page.content.subtitle|striptags }}"
            src="{% if page.content.image %}{% imgix_url page.content.image %}{% elif editing %}https://placem.at/places{% endif %}?w=600"
            data-srv-name="image"
            />
            {% if not editing %}</a>{% endif %}

            {% if editing %}<p><small>Shopify Product ID</small><br>{% page "shopify_product_id" placeholder="Enter a shopify Product ID here to enable the cart button." type="text" %}</p>{% else %}
            <div class="text-center shop-button-wrappers">
              <div id='product-component-ec1c4450888'></div>
            </div>
          </div>
          {% endif %}

          {% page "imagetwo" type="img" %}
          {% if editing or page.content.imagetwo %}
          {% if not editing %}
          <div class="z-depth-1-half mt-3 pb-2 pr-2 pl-2 mb-0 mb-md-0">
            <a class="product-image  d-block" data-fancybox href="{% imgix_url page.content.imagetwo %}?w=1400&h=1400">
              {% endif %}
              <img
              class="img-fluid"
              alt="{{ page.content.title|striptags }} {{ page.content.subtitle|striptags }}"
              src="{% if page.content.imagetwo %}{% imgix_url page.content.imagetwo %}{% elif editing %}https://placem.at/places{% endif %}?w=600"
              data-srv-name="imagetwo"
              />
              {% if not editing %}</a>{% endif %}
              {% endif %}

              {% if editing %}<p><small>Shopify Product ID #2</small><br>{% page "shopify_product_2" placeholder="Product #2 buy button goes here." type="text" %}</p>
              {% else %}
              <div class="text-center shop-button-wrappers">
                <div id='product-component-2'></div>
              </div>
            </div>
            {% endif %}

            {% page "imagethree" type="img" %}
            {% if editing or page.content.imagethree %}
            {% if not editing %}
            <div class="z-depth-1-half mt-3 pb-2 pr-2 pl-2 mb-0 mb-md-0">
              <a class="product-image  d-block" data-fancybox href="{% imgix_url page.content.imagethree %}?w=1400&h=1400">
                {% endif %}
                <img
                class="img-fluid"
                alt="{{ page.content.title|striptags }} {{ page.content.subtitle|striptags }}"
                src="{% if page.content.imagethree %}{% imgix_url page.content.imagethree %}{% elif editing %}https://placem.at/places{% endif %}?w=600"
                data-srv-name="imagethree"
                />
                {% if not editing %}</a>{% endif %}
                {% endif %}

                {% if editing %}
                <p><small>Shopify Product ID #3</small><br>{% page "shopify_product_3" placeholder="Product #3 buy button goes here." type="text" %}</p>
                {% else %}
                <div class="text-center shop-button-wrappers">
                  <div id='product-component-3'></div>
                </div>
              </div>
              {% endif %}

              {% page "imagefour" type="img" %}
              {% if editing or page.content.imagefour %}
              {% if not editing %}
              <div class="z-depth-1-half mt-3 pb-2 pr-2 pl-2 mb-0 mb-md-0">
                <a class="product-image  d-block" data-fancybox href="{% imgix_url page.content.imagefour %}?w=1400&h=1400">
                  {% endif %}
                  <img
                  class="img-fluid"
                  alt="{{ page.content.title|striptags }} {{ page.content.subtitle|striptags }}"
                  src="{% if page.content.imagefour %}{% imgix_url page.content.imagefour %}{% elif editing %}https://placem.at/places{% endif %}?w=600"
                  data-srv-name="imagefour"
                  />
                  {% if not editing %}</a>{% endif %}
                  {% endif %}

                  {% if editing %}<p><small>Shopify Product ID #4</small><br>{% page "shopify_product_4" placeholder="Product #4 buy button goes here." type="text" %}</p>
                  {% else %}
                  <div class="text-center shop-button-wrappers">
                    <div id='product-component-4'></div>
                  </div>
                </div>
                {% endif %}

                {% page "imagefive" type="img" %}
                {% if editing or page.content.imagefive %}
                {% if not editing %}
                <div class="z-depth-1-half mt-3 pb-2 pr-2 pl-2 mb-0 mb-md-0">
                  <a class="product-image  d-block" data-fancybox href="{% imgix_url page.content.imagefive %}?w=1400&h=1400">
                    {% endif %}
                    <img
                    class="img-fluid"
                    alt="{{ page.content.title|striptags }} {{ page.content.subtitle|striptags }}"
                    src="{% if page.content.imagefive %}{% imgix_url page.content.imagefive %}{% elif editing %}https://placem.at/places{% endif %}?w=600"
                    data-srv-name="imagefive"
                    />
                    {% if not editing %}</a>{% endif %}
                    {% endif %}

                    {% if editing %}<p><small>Shopify Product ID #5</small><br>{% page "shopify_product_5" placeholder="Product #5 buy button goes here." type="text" %}</p>
                    {% else %}
                    <div class="text-center shop-button-wrappers">
                      <div id='product-component-5'></div>
                    </div>
                  </div>
                  {% endif %}

                  {% page "imagesix" type="img" %}
                  {% if editing or page.content.imagesix %}
                  {% if not editing %}
                  <div class="z-depth-1-half mt-3 pb-2 pr-2 pl-2 mb-0 mb-md-0">
                    <a class="product-image  d-block" data-fancybox href="{% imgix_url page.content.imagesix %}?w=1400&h=1400">
                      {% endif %}
                      <img
                      class="img-fluid"
                      alt="{{ page.content.title|striptags }} {{ page.content.subtitle|striptags }}"
                      src="{% if page.content.imagesix %}{% imgix_url page.content.imagesix %}{% elif editing %}https://placem.at/places{% endif %}?w=600"
                      data-srv-name="imagesix"
                      />
                      {% if not editing %}</a>{% endif %}
                      {% endif %}

                      {% if editing %}<p><small>Shopify Product ID #6</small><br>{% page "shopify_product_6" placeholder="Product #6 buy button goes here." type="text" %}</p>
                      {% else %}
                      <div class="text-center shop-button-wrappers">
                        <div id='product-component-6'></div>
                      </div>
                    </div>
                    {% endif %}

                    {% if editing %}
                    <div class="mt-5 mb-5">
                      <h3>Admin tools</h3>
                      <p>{% page "category" type="select" multiple="true" %}</p>
                    </div>
                    {% endif %}
                  </div>

                </div>
              </section>
              {% endblock main %}


              {% if not editing %}
              <!-- AddThis Button BEGIN -->
              <!-- Go to www.addthis.com/dashboard to customize your tools -->
              <div class="addthis_sharing_toolbox"></div>
              <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520d221765704fe3" async="async"></script>
              <!-- AddThis Button END -->
              {% endif %}
