@charset "UTF-8";



// duraamen variables
@import "base/variables";

// bootstrap
@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "print";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";


// MDB overrides. This is the material design toolkit.
// Bootstrap bits included in the framework //

@import "vendor/mdb/free/data/functions";
@import "vendor/mdb/free/data/variables-b4";

// MDB Framework //
@import "vendor/mdb/free/data/prefixer";
@import "vendor/mdb/free/data/mixins";
@import "vendor/mdb/free/data/colors";
@import "vendor/mdb/free/data/variables";
@import "vendor/mdb/free/global";
@import "vendor/mdb/free/animations";
@import "vendor/mdb/free/helpers";
@import "vendor/mdb/free/typography";
@import "vendor/mdb/free/buttons";
@import "vendor/mdb/free/cards-basic";
@import "vendor/mdb/free/dropdowns";
@import "vendor/mdb/free/navbar";
@import "vendor/mdb/free/pagination";
@import "vendor/mdb/free/badge";
@import "vendor/mdb/free/breadcrumb";
@import "vendor/mdb/free/modals";
@import "vendor/mdb/free/progress";
@import "vendor/mdb/free/carousel-basic";
@import "vendor/mdb/free/collapse";
@import "vendor/mdb/free/jumbotron";
@import "vendor/mdb/free/masks";
@import "vendor/mdb/free/waves";
@import "vendor/mdb/free/forms-basic";
@import "vendor/mdb/free/msc";
@import "vendor/mdb/free/footer";
@import "vendor/mdb/free/list-group";
@import "vendor/mdb/free/tables";

@import "vendor/mdb/pro/variables-pro";
@import "vendor/mdb/free/deprecated";
@import "vendor/mdb/pro/deprecated";
@import "vendor/mdb/pro/buttons-pro";
@import "vendor/mdb/pro/social-buttons";
@import "vendor/mdb/pro/tabs";
@import "vendor/mdb/pro/cards-pro";
@import "vendor/mdb/pro/dropdowns-pro";
@import "vendor/mdb/pro/navbars-pro";
@import "vendor/mdb/pro/scrollspy";
@import "vendor/mdb/pro/light-box";
@import "vendor/mdb/pro/chips";
@import "vendor/mdb/pro/msc";
@import "vendor/mdb/pro/radio";
@import "vendor/mdb/pro/checkbox";

// wrapping this because it messes with Glass too much.

body:not(.product-pages) .main-body {
  @import "vendor/mdb/pro/material-select";
}

body.product-category-pages .main-body select {
  display: block !important;
  font-size: 14px;
}

@import "vendor/mdb/pro/switch";
@import "vendor/mdb/pro/file-input";
@import "vendor/mdb/pro/range";
@import "vendor/mdb/pro/input-group";
@import "vendor/mdb/pro/autocomplete";
@import "vendor/mdb/pro/parallax";
@import "vendor/mdb/pro/side-nav";
@import "vendor/mdb/pro/ecommerce";
@import "vendor/mdb/pro/carousels-pro";
@import "vendor/mdb/pro/stepper";
@import "vendor/mdb/pro/blog";
@import "vendor/mdb/pro/toasts";
@import "vendor/mdb/pro/animations-pro";
@import "vendor/mdb/pro/charts-pro";
@import "vendor/mdb/pro/progress";
@import "vendor/mdb/pro/scrollbar";
@import "vendor/mdb/pro/skins";

@import "vendor/mdb/pro/date_picker/default";
@import "vendor/mdb/pro/date_picker/default.time";
@import "vendor/mdb/pro/date_picker/default.date";

@import "vendor/mdb/pro/sections";
@import "vendor/mdb/pro/sections/templates";
@import "vendor/mdb/pro/sections/features";
@import "vendor/mdb/pro/sections/social";
@import "vendor/mdb/pro/sections/blog";
@import "vendor/mdb/pro/sections/team";
@import "vendor/mdb/pro/sections/testimonials";
@import "vendor/mdb/pro/sections/projects";
@import "vendor/mdb/pro/sections/magazine";
@import "vendor/mdb/pro/sections/pricing";
@import "vendor/mdb/pro/sections/contacts";


// Duraamen-specific styles

@import "jquery.fancybox";
@import "base/utilities";
@import "base/typography";

@import "slick.scss";
@import "slick-theme.scss";

@import "layout/main-layout";
@import "layout/nav";
@import "layout/hero";
@import "layout/landing-pages";
@import "layout/specific-pages";
@import "layout/footer";

@import "module/accordions";
@import "module/blog-preview";
@import "module/estimate";
@import "module/pdfs";
@import "module/product-customizations";
@import "module/related-products";
@import "module/section-icons";
@import "module/video-gallery";
@import "module/contact-icons";
@import "module/cart-overrides";

@import "module/jquery.cookiebar"
