{% extends "base.html" %}



{% block hero %}
{% endblock %}

{% block body %}
    <div class="subpage-body architect">
    <div class="big-pad">
        <img class="subpage-logo-head" src="/static/img/arch-logo.png">
    </div>
    <div class="subpage-hero">
        <div class="row">
        <div class="span8">
            {% chunk "architect-hero" %}
        </div>
        <div class="span4">
            <div class="pad">
                {% chunk "architect-hero-info" %}
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="big-pad-left">
                {% block content %}
                {% page "content" type="wysiwyg" %}
                {% endblock content %}
            </div>
        </div>
        <div class="span4">
            <div class="big-pad-right">
                <div class="well">
                    {% chunk "architect-sidebar" %}
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock body %}
