{% extends "base.html" %}

{% block hero %}{% include "includes/base/hero-left-aligned.html" %}{% endblock %}

{% block main %}
<section class="home-section">
<div class="container">
    <div class="row">
        <div class="col-md-5">
          <h2>{% page "Subhead" type="text" %}</h2>

          {% block content %}
          {% page "content" type="wysiwyg" %}
          {% endblock content %}
        </div>
        <div class="col-md-7">
          <div class="card">
            <div class="card-body">
              {% include "includes/forms/architect-form.html" %}
            </div>
          </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
