{% extends "base.html" %}

{% block hero %}{% include "includes/base/smaller-hero.html" %}{% endblock %}


{% block main %}
<section class="home-section">
<div class="container">
    <div class="row">
        <div class="col-md-8">
          <h2>{% page "Subhead" type="text" %}</h2>

          {% block content %}
          {% page "Content" type="wysiwyg" placeholder="Insert Content here" %}
          {% endblock content %}

          {% block map-wrap %}{% endblock %}

        </div>
        <div class="col-md-4">
          {% page "main_content_img" type="img" %}
          {% if page.content.main_content_img or editing %}
          <img
            class="img-fluid"
            src="{% if page.content.main_content_img %}{% imgix_url page.content.main_content_img %}{% elif editing %}https://placem.at/places{% endif %}?w=400"
            data-srv-name="main_content_img"
          />
          {% endif %}
        </div>
    </div>
</div>
</section>
{% endblock %}
