{% extends "flatpages/default.html" %}




{% block main %}
<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% page "Content" type="wysiwyg" placeholder="Insert Content here" %}
      </div>
      <div class="col-md-6">
        {% page "Content" type="wysiwyg" placeholder="Insert Content here" %}
      </div>
    </div>
    <div class="row" style="margin-top: 2em;">
      <div class="col-md-6">
      <form data-glass-form-api action="/404/" method="POST">

        {% csrf_token %}
                <input name="to" type="hidden" value="bbbf6b9f-1dc5-4a06-862c-c4d7135b78f2,cca47383-89e1-4e69-89e1-205ff5301c12">
                <input name="success_message" type="hidden" value="Thanks! We'll get back to you as soon as possible." />
                <input type="hidden" name="redirect" value="/success" />
                <input type="hidden" name="mc_id" value="e5e0332929">
                <input id="id_from_duraamen_url" name="from_duraamen_url" type="hidden">


                     <!--Grid row-->
                     <div class="row">
                         <!--Grid column-->
                         <div class="col-md-6">
                             <div class="md-form">
                                 <div class="md-form">
                                     <input type="text" id="name" name="name" class="form-control">
                                     <label for="name" class="">Your name</label>
                                 </div>
                             </div>
                         </div>
                         <!--Grid column-->

                         <!--Grid column-->
                         <div class="col-md-6">
                             <div class="md-form">
                                 <div class="md-form">
                                     <input type="text" id="email" name="email" class="form-control">
                                     <label for="email" class="">Your email</label>
                                 </div>
                             </div>
                         </div>
                         <!--Grid column-->

                     </div>
                     <!--Grid row-->

                     <!--Grid row-->
                     <div class="row">
                         <div class="col-md-12">
                             <div class="md-form">
                                 <input type="text" id="phone" name="phone" class="form-control">
                                 <label for="subject" class="">Phone number</label>
                             </div>
                         </div>
                     </div>
                     <!--Grid row-->

                     <!--Grid row-->
                     <div class="row">

                         <!--Grid column-->
                         <div class="col-md-12">

                             <div class="md-form">
                                 <textarea type="text" id="message" name="message" class="md-textarea"></textarea>
                                 <label for="message">Your message</label>
                             </div>

                         </div>
                     </div>
                     <div class="row">
                       <div class="md-form form-check">
                         <input type="checkbox" id="id_opt_in" checked name="mailchimp-opt-in" value="YES" />
                         <label class="form-check-label" for="id_opt_in">Receive product information and special offers via email?</label>
                       </div>
                     </div>
                     <!--Grid row-->
                 </form>

                 <div class="center-on-small-only">
                   <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();"><i class="fa fa-paper-plane fa-2x"></i> Send</a>
                 </div>
               </div>
               <div class="col-md-6">

                 <ul class="contact-icons">
                                 <li><i class="fa fa-map-marker fa-2x"></i>
                                     <h5>Corporate Office: New York</h5>
                                     <p><strong>Duraamen Engineered Products Inc.</strong><br>
                                       116 West 23rd Street<br>
                                       5th Floor<br>
                                       New York, NY 10011<br>
                                     <a href="tel:12123867609">T: 212.386.7609</a></p>
                                 </li>

                                  <li><i class="fa fa-map-marker fa-2x"></i>
                                     <h5>Warehouse: New Jersey</h5>
                                     <p>457 Frelinghuysen Avenue<br>
                                     Newark, NJ 07114<br>
                                     T: <a href="9732301301">973.230.1301</a><br>
                                     F: <a href="tel:9732417830">973.241.7830</a></p>
                                   </li>

                             </ul>



               </div>
             </div>
  </div>
</section>

{% endblock %}
