{% extends "base.html" %}

{% block bodyclass %}home-page {% endblock %}

{% block hero %}{% include "includes/base/hero-small-carousel.html" %}{% endblock %}

{% block main %}
<section class="home-section">
    {% include "includes/sections/featured-products-tabs.html" %}
  <div class="container">
    <h3 class="home-section-head" style="border-bottom: 0px; padding-bottom: 0px; margin-bottom: 25px;">Complete Epoxy Floor Kits</h3>
  </div>
    <div class="row">
      {% select_pages "category" "complete-floor-kits" %}
      <div class="featured-product--row-wrap container">
        <div class="row featured-product--row" style="border-bottom: 0px;">
        {% for item in pages|slice:"4" %}
        {% include "includes/snippets/product-item.html" %}
        {% endfor %}
        </div>
      </div>
    </div>
</section>
<section class="home-section orange">
  <div class="container">
      {% include "includes/snippets/section-icons-2019.html" %}
  </div>
</section>

<section class="home-section">
  <div class="container">
    <h2>Product Categories</h2>
    <section class="categories-carousel">
      {% page_list "category_carousel" %}
      {% list_item "category_image" type="img" noprint="true" %}
      {% list_item "title" type="text" noprint="true" %}
      {% list_item "link" type="text" noprint="true" %}
      <div class="categories-carousel--item">
        <a class="categories-carousel--link hm-zoom waves-light waves-effect waves-light" href="{{ list_item.link }}{% if editing %}/admin{% endif %}">
          <img class="categories-carousel--img" src="{% imgix_url list_item.category_image %}?w=700&h=700&fit=fill&fill=solid&fill-color=FFFFFF" />
          <span class="categories-carousel--title">{{ list_item.title }}</span>
        </a>
      </div>
      {% end_list %}

    </section>

    </div>
</section>
{% endblock %}

{% block belowmaincontent %}
{% include "includes/forms/subscribe-form.html" %}
{% endblock %}
