
{% extends "base-2012.html" %}

{% block hero %}
{% endblock %}

{% block body %}
    <div class="subpage-body installer">
    <div class="big-pad">
        <img class="subpage-logo-head" src="/static/img/installer-logo.png">
    </div>
    <div class="subpage-hero">
        <div class="row">
        <div class="span8">
                {% chunk "installer-hero" %}
        </div>
        <div class="span4">
            <div class="pad">
                {% chunk "installer-hero-info" %}
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="big-pad-left">
                {% block content %}
                {% page "content" type="wysiwyg" %}
                {% endblock content %}
            </div>
        </div>
        <div class="span4">
            <div class="big-pad-right">
                <div class="well">
                    <div class="register-wrap">
                        {% chunk "installer-sidebar-top" %}
                    </div>
                    {% chunk "installer-sidebar" %}
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock body %}
