{% extends "base.html" %}

{% block bodyclass %} landing-pages {% endblock %}

{% block hero %}{% include "includes/base/hero-with-landing-page-form.html" %}{% endblock %}


{% block main %}
<section class="home-section">
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2>{% page "Subhead" type="text" %}</h2>

          {% block content %}
          {% page "content" type="wysiwyg" placeholder="Insert Content here" %}


          <!--{% if page.path == "for-architects" %}
          <h3>This is only on the architects page</h3>
          {% elif page.path == "for-contractors" %}
          <h3>This is only on the contractors page</h3>
          {% endif %}

          {% if page.path != "for-architects" %}
          <h3>This is all pages except for-architects</h3>
          {% endif %}

          {% if page.path == "for-architects" %}
          {% else %}
          <h3>Which is functionally equivalent to this.</h3>
          {% endif %}-->



          {% endblock content %}

          {% block map-wrap %}{% endblock %}
          {% block belowcontent %}{% endblock %}

        </div>
    </div>
</div>
</section>
{% endblock %}
