{% extends "base-simplified.html" %}

{% block bodyclass %}landing-pages no-nav landingpages-products {% endblock %}

{% block hero %}{% include "includes/base/hero-landing-page-product.html" %}{% endblock %}

{% block main %}
<section class="landingpage-section" style="padding-top:100px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>{% page "Subhead 1" type="text" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% block content1 %}
        {% page "content1" type="wysiwyg" placeholder="Insert Content here" %}
        {% endblock content1 %}
      </div>
      <div class="col-md-6">
        {% block content1b %}
        {% page "content1b" type="wysiwyg" placeholder="Insert Content here" %}
        {% endblock content1b %}
      </div>
    </div>
  </div>
</section>

<section class="landingpage-section" style="background-color: #f7f7f7;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>{% page "Subhead 2" type="text" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% block content2 %}
        {% page "content2" type="wysiwyg" placeholder="Insert Content here" %}
        {% endblock content2 %}
      </div>
      <div class="col-md-6">
        {% block content2b %}
        {% page "content2b" type="wysiwyg" placeholder="Insert Content here" %}
        {% endblock content2b %}
      </div>
    </div>
  </div>
</section>

<section class="landingpage-section" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>{% page "Subhead 3" type="text" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% block content3 %}
        {% page "content3" type="wysiwyg" placeholder="Insert Content here" %}
        {% endblock content3 %}
      </div>
      <div class="col-md-6">
        {% block content3b %}
        {% page "content3b" type="wysiwyg" placeholder="Insert Content here" %}
        {% endblock content3b %}
      </div>
    </div>
  </div>
</section>


<section class="landingpage-section" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>{% page "Subhead 4" type="text" %}</h2>
      </div>
    </div>
    <div class="row">


      <div class="col-md-12">
        {% if page.content.photos or editing %}
        <div class="mt-3 mb-3 gallery text-center">
          {% page_list "photos" %}
          <a class="d-inline-block z-depth-1 mb-1" data-fancybox="photos" href="{% imgix_url list_item.image %}?w=1400&h=1400">
            {% list_item "image" type="image" %}
            {% list_item "alt_tag" type="text" noprint="true" %}
            <img class="bordered side-product-photo" src="{% imgix_url list_item.image %}?w=150&h=150&fit=crop" itemprop="image"
            alt='
            {% if list_item.alt_tag %}
            {{ list_item.alt_tag }}
            {% else %}
            {{ page.content.title }} ex. {{ forloop.counter }}
            {% endif %}
            '/>
          </a>
          {% end_list %}
        </div>
        {% endif %}
      </div>

    </div>
  </div>
</section>

{% endblock %}
