{% extends "flatpages/landing-page.html" %}


{% block gallery %}
<div class="carousel-wrap">
    <ul class="rs-slider">
        <li>
            <img src="/static/img/polyaspartic.jpg" alt="Polyaspartic Coating">
            <div class="rs-caption rs-top-left">
                <h1>Polyaspartic Coatings</h1>
            </div>
        </li>
    </ul>
</div>

{% endblock gallery %}




{% block landing-bg-color %}transparent{% endblock landing-bg-color %}
{% block title-override %}{% endblock title-override %}

{% block select-field-override %}{% endblock select-field-override %}
