{% extends "flatpages/2012-default.html" %}

{% block hero %}
{% endblock %}

{% block nav-wrap %}
{% endblock nav-wrap %}

{% block body %}
<p><br></p>

            <h1 class="visible-phone cms-head">{{ flatpage.title }}</h1>
            <div class="short-form well float-right">
			    <h2>{% page "form-cta" type="text" placeholder="Enter your form Call-to-action here" %}</h2>
			    {% include "_short-landing-page-form.html" %}
			</div>
            {% page content type="wysiwyg" %}


            {% if editing %}
            <div class="clearfix">
                <p><br></p>
                <div class="well">
                <h2>Admin tools</h2>
                {% include "_meta-admin-tools.html" %}
                </div>
                </div>
                {% endif %}


{% endblock body %}
