{% extends "site_base.html" %}
{% load seo %}
{% load frontendadmin_tags inlines chunks %}

{% block seo_head %}
    {% get_metadata as my_meta %}
    {{ my_meta.description }}
    {{ my_meta.keywords }}
{% endblock %}

{% block meta %}
{{ block.super }}
<!--canonical URLs -->
<link rel="canonical" href="http://www.duraamen.com{{ flatpage.url }}" />
{% endblock %}

{% block head_title %}{% get_metadata as my_meta %}{{ my_meta.title.value|default:flatpage.title }}{% endblock %}

{% block hero %}
{% endblock %}


{% block body %}
{{ flatpage.content|render_inlines|safe }}

{% frontendadmin_change flatpage "Edit This Flatpage" %}
{% endblock %}

{% block footer %}
{% chunk 'Footer' %}
{% endblock %}
